.about .row {
  margin-bottom: 15rem;
}

.about .row:last-child {
  margin-bottom: 5rem;
}



.about .header .col-3 {
    flex: 0 0 27%;
    max-width: 27%;
}

.about .header .col-5 .header-tekst{
    text-align: center;
    top: 0;
}

.about .header-tekst img {
  height: 348px;
  width: 376px;
}


.about .header .col-5 .header-tekst .titel{
    display: inline-block;
    margin-bottom: 3rem;
}



.about .header-tekst {
  text-align: left;
}


.about .header .col-3:first-child p {
  margin-top: 70%;
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: #5a5959;
}

.about .header .col-3:last-child  {
  position: relative;

  .button-yellow {
    position: absolute;
    bottom: 0;
    left: 50%;
  }

}


.about .meer-info .button-yellow {
  margin-top: 2rem;
  margin-left: 75px;
}

.about .join-knop {
  margin-top: 2.5rem;
}

.about .meer-info p {
  color: white;
}


@media(max-width: 992px) {

  .about .header-tekst .titel h1 {
    font-size: 2em;
  }

  .about .buttons-linethrough {
    display: block;
  }

}


@media(max-width: 768px) {

  .about .header .col-3 {
    flex: 0 0 29%;
    max-width: 29%;
  }

  .about .header img {
    margin-left: -20px;
  }

  .about .col-5 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .about .header .col-3:last-child {

    padding-left: 40%;
  }




}


@media(max-width: 540px) {
  .about .row {
    margin-bottom: 6rem;
  }

  .about .row:last-child {
    margin-bottom: 3rem;
  }

  .about .meer-info img {
    display: none;
  }

  .about .meer-info .join-knop img {
    display: inline-block;
  }

  .about .meer-info .col-6  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media(max-width: 486px) {
  .about .col-3 p span {
    display: none;
  }
}
