.form-cosplay {
  padding-left: 6%;
}

.cosplay-progress .col-7 {
  padding-right: 0;
}

.cosplay-progress .col-7 .button-yellow {
  text-align: right;
}

.button-yellow.edit-cosplay {
  margin-top: 7%;
}

form.edit-cosplay {

  label {
    font-size: $font-very-small;
    color: $licht-grijs;
    text-transform: uppercase;
    font-weight: 600;
  }

  input, select, p.inline {
    font-size: 0.90em;
    font-weight: 600;
    color: $bijna-zwart;
  }

  select {
    padding: 5px;
    border-color: $heel-licht-grijs;
  }

  input {
    border: none;
    border-bottom: 1px solid $heel-licht-grijs;
    padding-left: 0;
  }

  input.percentage, input.tijd, input.budget {
    width: 3em;
    display: inline;
  }

  input.tijd {
    width: 2.5em;
  }

  input.budget {
    width: 3.5em;
  }

  .row .col-4 {
    margin-right: 7%;
    flex: 0 0 26.333333%;
    max-width: 26.333333%;
    margin-bottom: 7%;
  }

  .row .col-4:last-child {
    margin-right: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

.lower-part-form {
  padding-left: 0;
  padding-right: 40px;
}



}

label[for=thumbnail_url] {
  display: block;
  position: relative;

  span {
    position: absolute;
    bottom: -160px;
    right: 0;
    text-transform: none;
  }
}


.top-left.thumbnail-url {
  top: 12px;
  left: 15px;
}

.cosplayphoto-upload.thumbnail-url {
  margin-bottom: 0.60rem;
}





@media(max-width: 1199px) {
  label[for=thumbnail_url] span {
    bottom: -140px;
  }
}




@media(max-width: 992px) {

  .cosplay-progress .col-7 {
    flex: 0 0 55%;
    max-width: 55%;
  }


  .cosplay-progress .col-5 .carousel-inner.cosplay-edit {
    filter: none;
    -webkit-filter: none;
  }

  form.edit-cosplay .row .col-4:last-child  {
    padding-right: 0;
  }

  form.edit-cosplay .lower-part-form {
    padding-right: 15px;
  }

  .icon-camera-simple.cosplay-edit {
    width: 20px;
  }

  .top-left.thumbnail-url {
    top: 5px;
  }

  label[for=thumbnail_url] span {
    bottom: -110px;
  }

  form.edit-cosplay {
    p.months {
      font-size:$font-very-small;
    }

    select {
      font-size: $font-small;
    }
  }


}


@media(max-width: 768px) {
  .cosplay-progress .col-7, .cosplay-progress .col-5.cosplay-edit {
    flex: 0 0 100%;
    max-width: 100%;
  }


  .cosplay-progress .col-7 {
      margin-top: 10%;
    }


  form.edit-cosplay {
    p.months {
      font-size: 0.9em;
    }

    select {
      font-size: 0.9em;
    }
  }

  form.edit-cosplay .lower-part-form {
    padding-right: 25px;
  }

  .cosplay-progress .col-5 .carousel-item {
    background-color: #2e2e2e;
  }

}
