
.home .row {
  margin-bottom: 10rem;
}

.home .row:last-child {
  margin-bottom: 4rem;
}

.partners .row {
  margin-bottom: 2.5rem;
}


/* HEADER */

.home-header-top {
  border-bottom: 1px solid $heel-licht-grijs;
}

.home p {
  color: $medium-grijs;
  font-size: $font-medium-small;
}

.home p.bold {
  font-weight: 600;
}




/* Linkerkant met tekst */

.home .home-header .col-4 {
  padding-right: 0;
  margin-right: 8%;

  p {
    margin-top: 2rem;
  }
}



.join-knop  {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 1.75rem;
  margin-bottom: 2.75rem;


  a {
    text-decoration: none;
    color: $bijna-zwart;
    font-size: 1.3em;

    &:hover {
      color: $primary-color;
    }

    &:hover img {
      background-color: $primary-color-light;
    }
  }


  p, img {
    display: inline-block;
  }

  img {
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    border-radius: 50%;
    margin-left: 12px;
  }


}






/* Rechterkant met slider */

#carouselHome {
  margin-top: -175px;
  width: 750px;
  height: 675px;

  .carousel-item {
    background-color: rgba(0,0,0,0);

    img {
      height: auto;
    }

    .carousel-caption {
      bottom: 25px;
      right: auto;
      left: 100px;
      font-weight: 600;

       p {
        display: inline;
        color: white;
      }

      a {
        margin-left: 70px;
        text-decoration: none;
        color: white;
        font-family: 'Titilium Web', sans-serif;

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    top: 610px;
    background-color: rgba(0,0,0,0);
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  .carousel-control-prev {
    left: 50px;

    .carousel-control-prev-icon {
      background-image: url('/img/iconen/pijltje-links-wit.png');
      background-color: rgba(black, 0.15);
      box-shadow: 0 0 11px 3px rgba(black, 0.15);
    }
  }


  .carousel-control-next {
    left: 95px;

    .carousel-control-next-icon {
      background-image: url('/img/iconen/pijltje-rechts-wit.png');
      background-color: rgba(black, 0.15);
      box-shadow: 0 0 11px 3px rgba(black, 0.15);
    }
  }

}




/* CREATE & INSPIRE */
.create-inspire .col-8 {
  margin-left: -4.5%;
  flex: 0 0 60%;
  max-width: 60%;

  img {
    width: 125%;
  }
}

.create-inspire .col-4 {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: right;
  margin-top: 5rem;

  .titel {
    margin-bottom: 2rem;
  }
}

.home .button-yellow {
  margin-top: 1rem;

  p {
    color: white;
    font-size: 1em;
  }
}


.home p.subtext {
  color: $medium-licht-grijs;
}



/* WORBLA TEASER */
.home .row.worbla-teaser {
  margin-bottom: 13rem;
}

.worbla-teaser .col-4 {
  flex: 0 0 50%;
  max-width: 50%;

  .titel {
    margin-bottom: 2rem;

  }

  .button-yellow {
    margin-left: 75px;
  }
}

.worbla-teaser .col-8 {
  flex: 0 0 50%;
  max-width: 50%;

  img {
    margin-left: -45%;
  }
}


/* TESTIMONIALS */

.home .row.testimonials {
  margin-bottom: 13rem;

}

.testimonials .col-6 {
  position: relative;

  .telefoon {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .telefoon.links {
    left: -70%;
  }

  .telefoon.rechts {
    left: 122%;
  }


}

.testimonials .col-6, .partners .col-9 {
  text-align: center;

  .titel {
    display: inline-block;
    margin-bottom: 2rem;
  }
}



/* slider*/
#carouselTestimonials {

  .stars  {
    margin-bottom: 2rem;

      img {
      width: 18px;
      height: 18px;
      }
  }

  .join-knop {
    margin-top: 3rem;

     a {
      color: $bijna-wit;

      &:hover {
        color: $primary-color;
      }
    }
  }

  p.testimonial {
    color: $bijna-wit;
    font-size: $font-medium;
    text-align: left;
  }

  p.name {
    color: $bijna-wit;
    font-size: $font-big;
    font-weight: 700;
    margin-bottom: 0.25em;
  }

  img.testimonial-profile {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-bottom: 0.5em;
  }


  .carousel-control-prev, .carousel-control-next {
    top: 55%;
    bottom: auto;
    background-color: rgba(0,0,0,0);
  }


  .carousel-control-prev-icon , .carousel-control-next-icon {
    width: 55px;
    height: 20px;
  }


  .carousel-control-prev {
    left: -20%;

    .carousel-control-next-icon {
      background-image: url('/img/iconen/pijltje-rechts-grijs.png');
    }

  }



  .carousel-control-next {
    right: -20%;
    margin-left: 0;

    .carousel-control-next-icon {
      background-image: url('/img/iconen/pijltje-rechts-grijs.png');
    }

  }

}




/* PARTNERS */
.partners .titel .small {
  color: $medium-licht-grijs;
  font-size: 1.3em;
}



@media(min-width: 1348px) {

  .testimonials .col-6 .telefoon.links {
    left: -90%;
  }

  .testimonials .col-6 .telefoon.rechts {
    left: 138%;
  }

  .scissors {
    left: -40%;
  }

  .onderdelen.left, .onderdelen.right {
    margin-top: 2rem;
  }

}



/* MEDIA QUERIES */
@media(max-width: 1199px) {

  .create-inspire .col-8 img {
      width: 120%;
  }

  .testimonials .col-6 .telefoon.links {
    left: -85%;
  }
}



@media(max-width: 992px) {

  #carouselHome .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 35px;
    height: 12px;
  }

  #carouselHome .carousel-control-prev {
    left: 10px;
  }

  #carouselHome .carousel-control-next {
    left: 110px;
  }

  .home .home-header .col-4 {
    margin-right: 5%;
    flex: 0 0 38%;
    max-width: 38%;
  }

  .home .home-header .col-7 {
    flex: 0 0 53%;
    max-width: 53%;
  }

  .home .more-inspiration {
    width: 200px;
  }


  .join-knop a {
    font-size: 1.2em;
  }


  .home .create-inspire .titel .large,  .home .worbla-teaser .titel .large {
    font-size: 1.9em;
  }

  .create-inspire .col-4 {
    margin-top: 2rem;
  }

  .create-inspire .col-8 img {
    width: 115%;
  }

  .worbla-teaser .col-8 img {
    width: 150%;
  }

  .create-inspire .col-4 {
    flex: 0 0 43%;
    max-width: 43%;
  }

  .testimonials .col-6 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  #carouselTestimonials .carousel-control-prev-icon {
    background-image: url('/img/iconen/pijltje-links-grijs.png');
  }

  #carouselTestimonials .carousel-control-next-icon {
    background-image: url('/img/iconen/pijltje-rechts-grijs.png');
  }

  .partners .col-9 {
    flex: 0 0 90%;
    max-width: 90%;
  }

}




@media(max-width: 768px) {

  #carouselHome {
    margin-top: 0;
    width: 650px;
    height: 575px;

    .carousel-inner {

      .carousel-item img {
        height: 575px;
      }

      .carousel-item .d-none {
        display: block!important;
      }
    }

  }

  #carouselHome .carousel-control-prev, #carouselHome .carousel-control-next {
    top: 510px;
  }


  .home .home-header .col-4 {
    margin-right: 3%;
    padding-left: 0;
    flex: 0 0 42%;
    max-width: 42%;
  }

  #carouselHome .carousel-item .carousel-caption a {
    text-decoration: underline;
  }

  .join-knop {
    margin-top: 2.5rem;

    a {
      font-size: 1.1em;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }



  .home .titel .large {
    font-size: 2.2em;
    margin-top: 2rem;
  }

  .home .home-header .col-4 p {
    margin-top: 2.5rem;
  }

  .create-inspire .col-8 {
    padding-left: 0;
  }

  .home .create-inspire .titel .large {
    margin-top: 0;
    text-align: left;
    width: 130%;
  }

  .home .create-inspire .titels-underline, .home .create-inspire .titel .large  {
    margin-left: -20%;
  }

  .create-inspire .col-4 .titel {
    margin-bottom: 1rem;
  }

  .worbla-teaser .col-8 img {
    margin-left: -25%;
    margin-top: 4rem;
  }


  .testimonials .col-6 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .testimonials .col-6 .d-none {
    display: block!important;
  }

  .partners .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .partners .justify-content-betweens .col img {
    max-width: 110px;
  }

  .testimonials .col-6 .telefoon.rechts {
    left: 110%;
  }


}




@media(max-width: 720px) {

  #carouselHome .carousel-item .carousel-caption {
    left: 92px;
  }

  #carouselHome .carousel-item .carousel-caption a {
    font-size: 0.9em;
  }
}



@media(max-width: 670px) {

  #carouselHome .carousel-item .carousel-caption a {
    font-size: 1.1em;
  }

  .home .home-header .col-4 {
    margin-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

    p span {
      display: none;
    }
  }

  .home .home-header .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .home .titels-underline.purple {
    display: none;
  }

  .telefoon {
    display: none;
  }

  .home .row, .home {
    margin-bottom: 7rem;
  }

  .home .row.worbla-teaser, .home .row.testimonials {
    margin-bottom: 10rem;
  }

  .home .row:last-child {
    margin-bottom: 3rem;
  }

  .partners .row {
    margin-bottom: 1rem;
  }

  #carouselTestimonials .carousel-control-prev, #carouselTestimonials .carousel-control-next {
    top: 93%;
  }

  #carouselTestimonials .carousel-control-prev {
    left: 5%;
  }

  #carouselTestimonials .carousel-control-next {
    right: 5%;
  }

  #carouselTestimonials .carousel-control-prev-icon {
    background-image: url('/img/iconen/pijltje-links-wit.png');
  }

  #carouselTestimonials .carousel-control-next .carousel-control-next-icon {
    background-image: url('/img/iconen/pijltje-rechts-wit.png');
  }

}


@media(max-width: 540px) {
  .partners .justify-content-betweens .col img {
    max-width: 90px;
  }

  .home .create-inspire .titel .large {
    margin-left: 0;
    text-align: center;
  }
}
