/* HEADER */

.home-header-top {
  border-bottom: 1px solid $heel-licht-grijs;
}

.home p {
  color: $medium-licht-grijs;
  font-size: $font-medium-small;
}

.home p.bold {
  font-weight: 600;
}


/* Linkerkant met tekst */

.home .header .col-4 {
  margin-right: 8%;

  p {
    margin-top: 2rem;
  }
}



.join-knop  {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 1.75rem;
  margin-bottom: 2.75rem;


  a {
    text-decoration: none;
    color: $bijna-zwart;
    font-size: 1.3em;

    &:hover {
      color: $primary-color;
    }

    &:hover img {
      background-color: $primary-color-light;
    }
  }


  p, img {
    display: inline-block;
  }

  img {
    width: 50px;
    background-color: $primary-color;
    border-radius: 50%;
    margin-left: 12px;
  }


}


/* Rechterkant met slider */

#carouselHome {
  margin-top: -175px;
  width: 750px;
  height: 675px;

  .carousel-item {
    background-color: rgba(0,0,0,0);

    img {
      height: auto;
    }

    .carousel-caption {
      bottom: 25px;
      right: auto;
      left: 100px;
      font-weight: 600;

       p {
        display: inline;
        color: white;
      }

      a {
        margin-left: 70px;
        text-decoration: none;
        color: white;
        font-family: 'Titilium Web', sans-serif;

      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    top: 610px;
    background-color: rgba(black, 0.15);
    box-shadow: 0 0 18px 5px rgba(black, 0.15);
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  .carousel-control-prev {
    left: 50px;

    .carousel-control-prev-icon {
      background-image: url('/img/iconen/pijltje-links-wit.png');
    }
  }


  .carousel-control-next {
    left: 95px;

    .carousel-control-next-icon {
      background-image: url('/img/iconen/pijltje-rechts-wit.png');
    }
  }




}
