.login {
  background-color: $bijna-zwart;
}


.background-login {
  width: 542px;
  height: 452px;
  background-color: #2e2e2e;
}

.form {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);


  form {
    padding-left: 15px;
    padding-right: 15px;
  }


  .form-group.mb-0 {
    margin-top: 4rem;
    margin-right: -15px;
  }

  .form-group.mb-0.register {
    margin-top: 2.5rem;
  }


  label {
    margin-right: 1.5rem;

    img {
      width: 25px;
    }
  }

  .titel {
    margin-bottom: 4rem;
  }

  .titel.register  {
    margin-bottom: 2.5rem;
  }

  input, input:focus {
    background-color: rgba(0,0,0,0);
    border:none;
    border-bottom: 1px solid #444444;
    border-radius: 0;
    font-size: 0.95em;
    color: $bijna-wit;

    &::placeholder {
      color: $medium-donker-grijs;
    }

  }

  input:focus {
    box-shadow: 0 0 0 0.2rem rgba(242,242,242,.25);
  }

  a.login-link {
    display: block;
    text-align: right;
    font-size: $font-medium;
    color: $medium-licht-grijs;
    font-weight: 400;
    text-decoration: none;


    span {
      text-decoration: underline;
      font-weight: 600;

      &:hover {
        color: $bijna-wit
      }
    }
  }

  .login-extra {
    margin-top: 1rem;
  }

}


.login .col-5 {
  padding-left: 0;
}



/* door sterke gelijkenis: Contact pagina: */

  .row.contact {
    margin-top: 10%;
  }


.col-6.contact-form {
  height: 570px;
  padding-right: 0;
}

.form-group.contact label img {
  opacity: 0.75;
}

.form-group.contact input {
  border-color: $heel-licht-grijs;
  color: $medium-grijs;

  &::placeholder {
    color: $licht-grijs;
  }
}

.titel.contact {
  margin-left: 21%;
}

.form.contact {
  top: 45%;
}

.col-6.astronaut {
  padding-left: 0;

  img {
      margin-left: -10%;
  }
}



@media(max-width: 1199px ) {
  .titel.login {
    margin-bottom: 2.5rem;
  }

  .form-group.mb-0.login {
    margin-top: 2.5rem;
  }

  .titel.contact {
    margin-left: 16%;
  }

  .form.contact {
    top: 42%;
  }

}

@media(max-width: 991px) {

  .login .col-5 {
    flex: 0 0 0%;
    max-width: 0;
  }

  .login .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form {
    top: 45%;
    left: 50%;
  }

  .titel.contact {
    margin-left: 0;

      h1.large {
        font-size: 2.25em;
      }
    }


  .form.contact {
    transform: translate(-37%, -63%);
    left: 30%;
    top: 47%;
  }

}



@media(max-width: 768px) {

  .col-6.contact-form {
    height: 440px;
  }


  .background-login {
    width: 464px;
  }

  .col-6.contact-form {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 0;
  }

  .form.contact {
    transform: translate(-46%, -41%);
  }

  .col-6.astronaut {
    flex: 0 0 30%;
    max-width: 30%;
    margin-top: 5rem;

    img {
        margin-left: -70%;
    }
  }



}





@media(max-width: 574px) {
  .form {
    width: 255px;
  }

  .background-login {
    width: 389px;
  }


  .col-6.astronaut {
    flex: 0 0 0%;
    max-width: 0;

    img {
      display: none;
    }
  }

  .col-6.contact-form {
    flex: 0 0 100%;
    max-width: 100%;

  }

  .col-6.contact-form {
    height: 350px;
  }

  .form.contact {
    left: 47%;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  .titel.contact {
    margin-left: 18%;
  }


}
