/* IMAGE UPLOAD*/

.cosplay-voorbeeld {
  position: relative;

  img {
    width: 100%;
    margin-bottom: 3.25rem;
    position: relative;
    filter: drop-shadow(16px 25px 30px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(16px 25px 30px rgba(0,0,0,0.3));
  }

  .form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;

    input {
      width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    	overflow: hidden;
    	position: absolute;
    	z-index: -1;
    }


    label {
      font-family: 'Titillium Web', sans-serif;
      padding: 10px 15px;
      text-transform: uppercase;
      color: $bijna-wit;
      border: 1px solid $bijna-wit;
      font-weight: 600;
      font-size: $font-very-big;
      cursor: pointer;

      &:hover {
        background: rgba(white, 0.10);
      }
    }

    p {
      font-size:$font-medium-small;
      color: $bijna-wit;
    }

  }
}

/* buttons */
button.button-yellow {
  border: none;
}

button.button-yellow.create {
  background-color: $donker-secondary-color;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;

  &:hover {
    background-color: #4a3192;
  }
}

.button-yellow.back-profiel {
  background-color: $licht-grijs;

  &:hover {
    background-color: #c3c2c2;
  }
}


/* INPUTS */

.create-cosplay input {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 0;
  text-align: center;
  font-size: $font-big;

  &:focus {
    box-shadow: none;
    border:none;
  }

  &::placeholder {
    text-decoration: underline;
  }
}

.create-cosplay .form-group.name {
  margin-bottom: 0.1em;
}

.create-cosplay input[name="name_serie"] {
  font-size: $font-medium-small;
}



/* Door grote gelijkheid: edit profiel pagina css */
h1.edit-profile-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.10rem;
}

.profile-picture-large.edit-profile {
  width:auto;
  display: block;
  margin: 0 auto;
}

.form-group.edit-profile {
  position: relative;
  transform: none;
  top: auto;
  left: auto;
  width: auto;
  margin-top: 0.75rem;
  margin-bottom: 1rem;

  label {
    display: block;
    width: 200px;
    margin: 0 auto;
    color: #2e2e2e;
    border: 1px solid #bbb7b7;
    font-size: $font-medium-big;

    &:hover {
      border-color: white;
      background-color: rgba($bijna-zwart, 0.05);
    }
  }
}

.create-cosplay input.edit-profile {
  font-size: 1rem;
  padding: .375rem .75rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  color: $medium-licht-grijs;
}

.create-cosplay .form-group.description {
  text-align: center;
}





/* MEDIA QUERIES */

@media (max-width: 1199px){
  .cosplay-voorbeeld .form-group label {
    font-size: $font-big;
  }

  .cosplay-voorbeeld .form-group.edit-profile label {
    font-size: $font-medium-big;
  }


}

@media (max-width: 992px){
  .nieuw {
    .col-5 {
      flex: 0 0 60%;
      max-width: 60%;
    }

    .col {
      flex: 0 0 20%;
      max-width: 20%;
    }

  }

}


@media (max-width: 767px){
  .nieuw {
    .col-5 {
      flex: 0 0 70%;
      max-width: 70%;
    }

    .col:first-child {
      flex: 0 0 30%;
      max-width: 30%;
    }

    .col:last-child {
      flex: 0 0 0%;
      max-width: 0%;
    }

  }
}
