/* Algemeen */
.onderdeel .row {
  margin-bottom: 10rem;
}

.onderdeel .row:last-child {
  margin-bottom: 4rem;
}

.onderdeel p {
  font-size: $font-medium;
}



/* HEADER */
.header, .header img {
  position: relative;
}

.worbla .header .col-4 {
  padding-right: 5%;
  flex: 0 0 25.333333%;
  max-width: 25.333333%;
}

.worbla .header .col-8 iframe {
  width: 950px;
  height: 530px;
  border: none;
}

.header-tekst {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 30%;
  color: $bijna-wit;
  text-align: right;

  p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
}

.header-tekst.tips {
  position: relative;
  left: 0;
  top: 7%;
  width: 100%;
}

.header-tekst.tips .titel {
  display: block;
}

.header-tekst.tips p.dark {
  color: $licht-grijs;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.header-tekst.tips .button-yellow {
  padding-right: 20px;
  padding-left: 20px;
}

.header-tekst.tips .titel, .header-tekst.tips p {
    text-align: left;
}


.header .link-cosplayer {
  font-size: $font-medium-small;

  a {
    color: $bijna-wit;
  }
}


/* BLOKKEN MEER INFO */
.meer-info p {
  color: $medium-grijs;
  margin-top: 1.5rem;
  line-height: 1.65;
}

.meer-info img {
  width: 60%;
}

.meer-info img.large {
  width: 90%;
}

.meer-info .titel {
  margin-top: 10%;
}

.meer-info-target {
  margin-bottom: 8rem;
}



/* LINKS */

.links .col-8 {
  margin-top: 7%;
}

.row.links .link a {
  display: inline-block;

  img {
    width: 150px;
    border-radius: 50%;
  }
}

.link .tekst {
  color: $donker-secondary-color;
  text-decoration: none;
  padding-left: 7%;


  &:hover {
    color: $primary-color;
  }

  p {
    font-style: italic;
    font-size: $font-medium;
    margin-bottom: 0.25em;
    font-weight: 600;
  }

  p.sub-info {
    color: $medium-licht-grijs;
    font-weight: 400;
    font-size: $font-small;
  }
}




.links .titel.extra-large {
  margin-bottom: 5.5rem;
}

.links .link {
  margin-bottom: 4.5rem;
}

.links .titel .small {
  margin-bottom: 2rem;
}




// MEDIA QUERIES

@media(max-width:1199px) {
  .header-tekst {
    width: 35%
  }
}

@media(max-width: 1100px) {
  .worbla .header .col-8 iframe {
    width: 775px;
    height: 450px;
  }

  .header-tekst.tips {
    top: 0.5%;
  }
}



@media(max-width:992px) {
  .header-tekst {
    width: 45%
  }

  .header img {
    height: 525px;
  }

  .links .col-8 {
    margin-top: 4%;
  }


  .link .tekst {
    text-align: center;
    margin-top: 0.75rem;
    padding-left: 15%;

    p {
      margin-bottom: 0;
    }
  }

  .worbla .header .col-8 iframe {
    width: 625px;
    height: 350px;
  }

  .header-tekst.tips {
    top: -1%;
  }

  .worbla .header .col-4 {
    padding-right: 4%;
  }

  .worbla .buttons-linethrough {
    display: none;
  }

  .worbla .titel .large {
    font-size: 2em;
  }

  .header-tekst.tips p.dark {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
  }
}



@media(max-width:768px) {
  .header-tekst {
    width: 60%
  }

  .meer-info img, .meer-info img.large {
    width: 100%;
  }

  .onderdeel .row {
    margin-bottom: 9rem;
  }

  .links .titel .extra-large {
    font-size: 3em;
  }

  .links .col-8 {
    margin-top: 2%;
  }

  .links .link {
    margin-bottom: 2.5rem;
  }

  .worbla .header .col-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .worbla .header .col-4, .worbla .header .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header-tekst.tips .titel {
    display: inline-block;
  }

  .header-tekst.tips, .header-tekst.tips p {
    text-align: center;
  }

  .worbla .header .col-8 iframe {
    width: 510px;
    height: 280px;
    margin-top: 3rem;
  }


}



@media(max-width:700px) {
  .header-tekst {
    width: 55%;
    top: 10%;
  }

  .header img {
    height: 450px;
  }

  .header-tekst p {
    font-size: 0.80em;
  }

  .header .link-cosplayer {
    font-size: $font-small;
  }

}


@media(max-width:540px) {
  .header-tekst {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .links .col-4.links-image-rechts {
    flex: 0 0 0;
    max-width: 0;

    img {
      display: none;
    }
  }

  .links .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pruik .titel .large, .pruik .titel .large.oversize {
    font-size: 2em;
  }

  .header-tekst.tips {
    position: relative;
    left: 0;
    top: 7%;
    width: 100%;
    transform: none;
  }

}
