/* Algemeen */
.onderdeel .row {
  margin-bottom: 10rem;
}

.onderdeel .row:last-child {
  margin-bottom: 4rem;
}

.onderdeel p {
  font-size: $font-medium;
}



/* HEADER */
.header, .header img {
  position: relative;
}

.header-tekst {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 30%;
  color: $bijna-wit;
  text-align: right;

  p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
}


.header .link-cosplayer {
  font-size: $font-medium-small;

  a {
    color: $bijna-wit;
  }
}


/* BLOKKEN MEER INFO */
.meer-info p {
  color: $medium-grijs;
  margin-top: 1.5rem;
  line-height: 1.65;
}

.meer-info img {
  width: 60%;
}

.meer-info img.large {
  width: 90%;
}

.meer-info .titel {
  margin-top: 10%;
}

.meer-info-target {
  margin-bottom: 8rem;
}



/* LINKS */
.row.links .link a {
  display: inline-block;

  img {
    width: 150px;
    border-radius: 50%;
  }
}

.link .tekst {
  color: $donker-secondary-color;
  text-decoration: none;


  &:hover {
    color: $primary-color;
  }

  p {
    font-style: italic;
    font-size: $font-medium;
    margin-bottom: 0.25em;
    font-weight: 600;
  }

  p.sub-info {
    color: $medium-licht-grijs;
    font-weight: 400;
    font-size: $font-small;
  }
}




// MEDIA QUERIES

@media(max-width:1199px) {
  .header-tekst {
    width: 35%
  }
}



@media(max-width:992px) {
  .header-tekst {
    width: 45%
  }

  .header img {
    height: 525px;
  }

}

@media(max-width:768px) {
  .header-tekst {
    width: 60%
  }

  .meer-info img, .meer-info img.large {
    width: 100%;
  }

  .onderdeel .row {
    margin-bottom: 9rem;
  }

}

@media(max-width:700px) {
  .header-tekst {
    width: 55%;
    top: 10%;
  }

  .header img {
    height: 450px;
  }

  .header-tekst p {
    font-size: 0.80em;
  }

  .header .link-cosplayer {
    font-size: $font-small;
  }

}


@media(max-width:540px) {
  .header-tekst {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
