.cosplay-profiel .col-9, .cosplay-profiel .col-3 {
  padding-top: 1.5em;
}

/* PROFIEL INFO */

.level {
  position: relative;
  width: 128px;
  margin: 0 auto;

  .background-circle {
    position: relative;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 4px solid $donker-secondary-color;
  }

  .level-circle {
    position: absolute;
    top: 0;
    left: 0;
  }

  .level-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



/* COSPLAYS OVERZICHT */

.cosplay-profiel .col-9 {
  border-left: 1px solid $heel-licht-grijs;
  //max-width: 70%;
  padding-left: 5%;


  /* Enkele cosplay */
  .cosplay {
    position: relative;
    padding-right: 3.75%;
    padding-left: 3.75%;
    margin-bottom: 10%;

    img {
      position: relative;
    }

    .cosplay-hover {
      //display: none;

      a, img.cosplay-overlay {
      position: absolute;

      }

      img.cosplay-overlay {
        top: 0;
        left:11%;
        max-width: 100%;
        max-height: 100%;
      }


      a.thumbnail-title {
        left:17%;
        bottom: 5.5%;
        max-width: 100%;
        text-transform: uppercase;
        text-decoration: underline;
        color: $bijna-wit;
        font-size: 1.1rem;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }
      }

      a.edit-link {
        top: 5.5%;
        right: 19%;
        padding: 0;

        .edit-picture {
          width: 17.5px;
        }


      }


      a.delete-link {
        top: 5.5%;
        left: 17%;
        padding: 0;

        .delete-picture {
          width: 15px;
        }

      }
    }//einde cosplay hover

    /* Nieuwe cosplay button */
    a.new-cosplay {
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      background-color: $primary-color;
      color: $heel-donker-grijs;
      font-size: $font-medium;
      font-weight: 600;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);

      &:hover {
        background-color: $primary-color-light;
      }
    }


  }


  .cosplay:nth-child(3n+3) {
    padding-right: 0;
    padding-left: 7.5%;

    .cosplay-hover {
      img {
        left: 22.5%;
      }

      a.thumbnail-title {
        left:28.25%;
      }

      a.edit-link {
        right: 7.5%;
      }

      a.delete-link {
        left: 28.25%;
      }

    }

    a.new-cosplay {
      left: 60.5%;
    }

  }

  .cosplay:nth-child(3n+1) {
    padding-right: 7.5%;
    padding-left: 0;

    .cosplay-hover {
      img {
        top: 0;
        left: 0;
      }

      a.thumbnail-title {
        left:6%;
      }

      a.edit-link {
        right: 30%;
      }

      a.delete-link {
        left: 6%;
      }
    }

    a.new-cosplay {
      left: 38.5%;
    }

  }

}







@media (max-width: 992px) {

  .cosplay-profiel .col-9 {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 7.5%;
  }

  .cosplay-profiel .col-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-4.cosplay {
    flex: 0 0 50%;
    max-width: 50%;
  }



    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) {
      padding-right: 0;
      padding-left: 7.5%;

      .cosplay-hover {
        img {
          left: 15%;
        }

        a.thumbnail-title, a.delete-link {
          left: 21%;
        }

        a.edit-link {
          right: 7.5%;
        }
      }

      a.new-cosplay {
        left: 57%;
      }

    }//einde even children

    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) {
      padding-right: 7.5%;
      padding-left: 0;

      .cosplay-hover {
        img {
          left: 0;
        }

        a.thumbnail-title, a.delete-link {
          left: 6%;
        }

        a.edit-link {
          right: 23%;
        }
      }

      a.new-cosplay {
        left: 42%;
      }
    }//einde odd children


}//einde media query



@media (max-width: 767px){

  .cosplay-profiel .col-9 {
    flex: 0 0 60%;
    max-width: 60%;

    .col-4.cosplay {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0 !important;
      padding-left: 7.5% !important;
    }

    .col-4.cosplay:nth-child(odd) .cosplay-hover img,
    .col-4.cosplay:nth-child(even) .cosplay-hover img {
      left: 7.5%;
      right: 0;
    }

    .col-4.cosplay:nth-child(odd) .cosplay-hover a.thumbnail-title,
    .col-4.cosplay:nth-child(odd) .cosplay-hover a.delete-link,
    .col-4.cosplay:nth-child(even) .cosplay-hover a.thumbnail-title,
    .col-4.cosplay:nth-child(even) .cosplay-hover a.delete-link{
        left: 13%;
    }

    .col-4.cosplay:nth-child(even) .cosplay-hover a.edit-link,
    .col-4.cosplay:nth-child(odd) .cosplay-hover a.edit-link {
        right: 7.5%;
    }

    .col-4.cosplay:nth-child(even) a.new-cosplay,
    .col-4.cosplay:nth-child(odd) a.new-cosplay {
      left: 53%;
    }




  }

  .cosplay-profiel .col-3 {
    flex: 0 0 40%;
    max-width: 40%;
  }




}
