/* PROFIEL INFO */

.level {
  position: relative;
  width: 128px;
  margin: 0 auto;

  .background-circle {
    position: relative;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 4px solid #3e297b;
  }

  .level-circle {
    position: absolute;
    top: 0;
    left: 0;
  }

  .level-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



/* COSPLAYS OVERZICHT */

.cosplay-profiel .col-9 {
  border-left: 1px solid $heel-licht-grijs;
  max-width: 70%;
  padding-left: 5%;

  .row {
    margin-bottom: 9%;

  }

  /* Enkele cosplay */
  .cosplay {
    position: relative;
    padding-right: 3.75%;
    padding-left: 3.75%;

    img {
      position: relative;
    }

    h6 a, a {
      position: absolute;
    }

    h6 a {
      left:17%;
      bottom: 11%;
      max-width: 100%;
      text-transform: uppercase;
      text-decoration: underline;
      color: $bijna-wit;
      font-size: 1.1rem;
    }

    a.edit-link {
      top: 5.5%;
      right: 19%;
      padding: 0;

      .edit-picture {
        width: 17.5px;
      }


    }


    /* Nieuwe cosplay button */
    a.new-cosplay {
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      background-color: $primary-color;
      color: $heel-donker-grijs;
      font-size: $font-medium;
      font-weight: 600;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);

      &:hover {
        background-color: $primary-color-light;
      }
    }


    a.delete-link {
      top: 5.5%;
      left: 17%;
      padding: 0;

      .delete-picture {
        width: 15px;
      }

    }
  }

  .cosplay:first-child {
    padding-right: 7.5%;
    padding-left: 0;

    h6 a {
      left:6%;
    }

    a.edit-link {
      right: 30%;
    }

    a.delete-link {
      left: 6%;
    }

  }

  .cosplay:last-child {
    padding-right: 0;
    padding-left: 7.5%;

    h6 a {
      left:28.25%;
    }

    a.edit-link {
      right: 7.5%;
    }

    a.delete-link {
      left: 28.25%;
    }
  }

}
