
/* ONDERDELEN */

.onderdelen {
  position: relative;
}

.onderdelen .onderdeel:nth-child(2) {
  text-align: center;
}

.onderdelen .onderdeel {
  margin-bottom: 5rem;

  a {
  position: relative;
  display: inline-block;

    &:hover .overlay-grijs {
      display: none;
    }

    p {
      display: inline;
      margin: 0;
    }

    img {
      width: 100px;
      border-radius: 50%;
    }

    .overlay-grijs {
      width: 100px;
      height: 100px;
      background-color: rgba(48,48,48, 0.7);
      border-radius: 50%;
      position: absolute;
      top:0;
      left:0;
    }

  }
}

.onderdelen .onderdeel:last-child {
  margin-bottom: 0;
}

.onderdelen.left .onderdeel {
  .onderdeel-title {
    margin-left: 12.5px;
  }
}

.onderdelen.right .onderdeel {
  .onderdeel-title {
    margin-right: 12.5px;
  }
}

.onderdeel-title {
  font-size: $font-small;
  color: $heel-donker-grijs;
  font-weight: 700;

  &:hover {
    color: $heel-donker-grijs;
  }
}


.cosplay-progress .col:first-child {
  padding-right: 5%;
}

/*button rechts*/
.cosplay-progress .col:last-child {
  position: relative;
  padding-left: 5%;

  .button-yellow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}




/* COSPLAYPHOTOS */


.cosplayphoto-upload {
  text-align: end;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}


.cosplay-progress .col-5 {


  .carousel-inner {
    height: 560px;
    filter: drop-shadow(16px 25px 30px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(16px 25px 30px rgba(0,0,0,0.3));
  }

  .carousel-item img {
    height: auto;
    max-width: 500px;
    width: auto;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));

  }

  .carousel-item .carousel-caption {
    height: 20px;
    width: 20px;
  }

  .carousel-control-prev, .carousel-control-next {
    bottom: 0;
    top: -45px;
    height: 15px;
  }

  .carousel-caption {
    right: 6%;
    top: 0;
    bottom: auto;
    left: auto;
  }

  .cosplay-name {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;

    h2 {
      font-size: $font-big;
      text-transform: uppercase;
    }
  }


}

.icon-camera-simple {
  width: 30px;
  cursor: pointer;
}


/* STATUS */
ul.status {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  li {
    padding-right: 5.70em;
    padding-bottom: 0.5em;
    display: inline-block;
    border-bottom: 2px solid #ebe9e9;


    a {
      text-decoration: none;
      position: relative;

      .sphere {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #6b6a6a;
        bottom: -0.95em;
        left: -45%;
      }
    }

    img {
      width: 25px;
      height: 25px;
      margin-left: -12.50px;
    }


    /* Lancering */

    a.lancering img {
      background-image: url("/img/iconen/spaceship-dark.svg");
      background-size: contain;
    }

    a.lancering:hover img, a.lancering img.active  {
      background-image: url("/img/iconen/spaceship-full-dark.svg");
      background-size: contain;
    }


    /* Shoppen */

    a.shoppen img {
      background-image: url("/img/iconen/shopping-bag-dark.svg");
      background-size: contain;
    }

    a.shoppen:hover img, a.shoppen img.active {
      background-image: url("/img/iconen/shopping-bag-full-dark.svg");
      background-size: contain;
    }


    /* Knutselen */

    a.knutselen img {
      background-image: url("/img/iconen/crafting-dark.svg");
      background-size: contain;
    }

    a.knutselen:hover img, a.knutselen img.active {
      background-image: url("/img/iconen/crafting-full-dark.svg");
      background-size: contain;
    }


    /* Verven */

    a.verven img {
      background-image: url("/img/iconen/spray-paint-dark.svg");
      background-size: contain;
    }

    a.verven:hover img, a.verven img.active {
      background-image: url("/img/iconen/spray-paint-full-dark.svg");
      background-size: contain;
    }


    /* Media */

    a.icon-media img {
      background-image: url("/img/iconen/fancy-camera-dark.svg");
      background-size: contain;
    }

    a.icon-media:hover img, a.icon-media img.active {
      background-image: url("/img/iconen/fancy-camera-full-dark.svg");
      background-size: contain;
    }

  }//einde li


  li:last-child {
    padding-right: 0;
    border: none;
  }



}//einde ul
