
/* ONDERDELEN */

.onderdelen {
  position: relative;
}

.onderdelen .onderdeel:nth-child(2) {
  text-align: center;
}

.onderdelen .onderdeel {
  margin-bottom: 5rem;

  a {
  position: relative;
  display: inline-block;

    &:hover .overlay-grijs {
      display: none;
    }

    p {
      display: inline;
      margin: 0;
    }

    img {
      width: 100px;
      border-radius: 50%;
    }

    .overlay-grijs {
      width: 100px;
      height: 100px;
      background-color: rgba(48,48,48, 0.7);
      border-radius: 50%;
      position: absolute;
      top:0;
      left:0;
    }

  }
}

.onderdelen .onderdeel:last-child {
  margin-bottom: 0;
}

.onderdelen.left .onderdeel {
  .onderdeel-title {
    margin-left: 12.5px;
  }
}

.onderdelen.right .onderdeel {
  .onderdeel-title {
    margin-right: 12.5px;
  }
}

.onderdeel-title {
  font-size: $font-small;
  color: $heel-donker-grijs;
  font-weight: 700;

  &:hover {
    color: $heel-donker-grijs;
  }
}


.cosplay-progress .col:first-child {
  padding-right: 5%;
}

/*button rechts*/
.cosplay-progress .col:last-child {
  position: relative;
  padding-left: 5%;

  .button-yellow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}




/* COSPLAYPHOTOS */


.cosplayphoto-upload {
  text-align: end;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}


.cosplay-progress .col-5 {


  .carousel-inner {
    height: 560px;
    filter: drop-shadow(16px 25px 30px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(16px 25px 30px rgba(0,0,0,0.3));
  }

  .carousel-item {
    background-color: rgba(0,0,0,0);

    img {
      height: auto;
      max-width: 100%;
      width: auto;

    }
  }

  .carousel-item .carousel-caption {
    height: 20px;
    width: 20px;
  }

  .carousel-control-prev, .carousel-control-next {
    bottom: 0;
    top: -45px;
    height: 15px;
  }

  .carousel-control-prev.progress, .carousel-control-next.progress {
    background-color: rgba(0,0,0,0);
  }

  .carousel-caption {
    right: 6%;
    top: 0;
    bottom: auto;
    left: auto;
  }

  .cosplay-name {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4.5rem;

    h2 {
      font-size: $font-big;
      text-transform: uppercase;
    }
  }


}

.icon-camera-simple {
  width: 30px;
  cursor: pointer;
}



/* STATUS */
ul.status {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  li {
    padding-right: 20.5%;
    padding-bottom: 0.5em;
    display: inline-block;
    border-bottom: 2px solid #ebe9e9;


    a {
      text-decoration: none;
      position: relative;

      .sphere {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #6b6a6a;
        bottom: -0.95em;
        left: -45%;
      }
    }

    img {
      width: 25px;
      height: 25px;
      margin-left: -12.50px;
    }


    /* Lancering */

    a.lancering img {
      background-image: url("/img/iconen/spaceship-dark.svg");
      background-size: contain;
    }

    a.lancering:hover img, a.lancering img.active  {
      background-image: url("/img/iconen/spaceship-full-dark.svg");
      background-size: contain;
    }


    /* Shoppen */

    a.shoppen img {
      background-image: url("/img/iconen/shopping-bag-dark.svg");
      background-size: contain;
    }

    a.shoppen:hover img, a.shoppen img.active {
      background-image: url("/img/iconen/shopping-bag-full-dark.svg");
      background-size: contain;
    }


    /* Knutselen */

    a.knutselen img {
      background-image: url("/img/iconen/crafting-dark.svg");
      background-size: contain;
    }

    a.knutselen:hover img, a.knutselen img.active {
      background-image: url("/img/iconen/crafting-full-dark.svg");
      background-size: contain;
    }


    /* Verven */

    a.verven img {
      background-image: url("/img/iconen/spray-paint-dark.svg");
      background-size: contain;
    }

    a.verven:hover img, a.verven img.active {
      background-image: url("/img/iconen/spray-paint-full-dark.svg");
      background-size: contain;
    }


    /* Media */

    a.icon-media img {
      background-image: url("/img/iconen/fancy-camera-dark.svg");
      background-size: contain;
    }

    a.icon-media:hover img, a.icon-media img.active {
      background-image: url("/img/iconen/fancy-camera-full-dark.svg");
      background-size: contain;
    }

  }//einde li


  li:last-child {
    padding-right: 0;
    border: none;
  }



}//einde ul



/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .cosplay-progress .col-5 .carousel-item img {
    max-height: 500px;
  }

  .cosplay-progress .col-5 .cosplay-name {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
  }

  ul.status li {
    padding-right: 19.6%;
  }

}


@media (max-width: 992px) {

  .cosplay-progress .col-5 {
    flex: 0 0 45%;
    max-width: 45%;
    padding-right: 0;
    padding-left: 0;
  }

  .onderdelen .onderdeel {
    //margin-bottom: 4rem;

    .overlay-grijs {
      display: none;
    }
  }

  .onderdelen.left, .onderdelen.right {
    padding-top: 2rem;
  }

  .onderdelen .onderdeel .float-right {
    float: none !important;
  }

  .onderdelen.left .onderdeel {
    text-align: left;
  }

  .onderdelen.right .onderdeel {
    text-align: right;
  }

  .onderdelen .onderdeel a img {
    width: 85px;
  }

  .cosplay-progress .col:first-child {
    padding-right: 15px;
  }

  .cosplay-progress .col:last-child {
    padding-left: 15px;
  }

  .cosplay-progress .col-5 .carousel-inner {
    height: 460px;
  }

  ul.status li {
    padding-right: 18.8%;
  }

  .cosplay-progress .col-5 .cosplay-name {
    margin-top: 2rem;
  }


  .cosplay-progress .col-5 {

    .carousel-control-next.progress {
      right: auto;
      margin-left: 55px;
    }

    .carousel-control-prev.progress .carousel-control-prev-icon {
        background-image: url(/img/iconen/pijltje-links-grijs.png);
    }

    .carousel-control-next.progress .carousel-control-next-icon {
        background-image: url(/img/iconen/pijltje-rechts-grijs.png);
    }

  }

}




@media (max-width: 768px){
  .cosplay-progress .col-5 .d-none {
    display: block !important;
  }


  .onderdelen .onderdeel a img {
    display: none;
  }

  .cosplay-progress .col-5 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .cosplay-progress .col {
    padding-top: 6rem;
  }

  .cosplay-progress .col:first-child {
    padding-left: 0;
  }

  .cosplay-progress .col:last-child {
    padding-right: 0;
  }

  .cosplay-progress .col-5 .cosplay-name {
    margin-top: 0;
  }

  ul.status li {
    padding-right: 17%;
  }

  .cosplay-progress .col:last-child .button-yellow {
    padding: 5px 10px;
  }

}

@media (max-width: 562px){
  ul.status li {
    padding-right: 16%;
  }

}

@media (max-width: 520px) {
  .cosplay-progress .col-5 .carousel-inner {
    height: 400px;
  }

  .cosplay-progress .col {
    padding-top: 5rem;
  }
}

@media (max-width: 458px) {
  .cosplay-progress .col-5 .carousel-inner {
    height: 350px;
  }

  ul.status li {
    padding-right: 14%;
  }

  .cosplay-progress .col {
    padding-top: 4rem;
  }
}
