.cosplay-show .col-9 {
  padding-left: 4%;
  padding-right: 0;
}

.cosplay-show .col-3 {
  padding-right: 2.5%;
}


/* COSPLAY INFO */

.cosplay-info {
  text-align: center;

  .col-3 .edit-icon img{
    width: 20px;
  }

  .username-cosplay {
    margin-top: 0.5em;
  }

}




.profile-description {
  padding-left: 0 !important;
}

.cosplay-names {
  margin-top: 1.25rem;
  padding-bottom: 1rem;

  h1 {
    text-transform: uppercase;
    font-size: $font-big;
    color: $donker-secondary-color;
    margin-bottom: 0.15em;
    font-weight: 600;
  }

  p {
    font-size: $font-medium-small;
    font-weight: 600;
  }
}


/* Cosplay niveau */
.cosplay-niveau-rij {
  border-bottom: 1px solid $heel-licht-grijs;

  .col-6 {
    border-right: 1px solid $heel-licht-grijs;
    padding-top: 1.60rem;
    padding-bottom: 1.60rem;

    p:first-child {
      font-size: $font-medium-small;
      color:$medium-licht-grijs;
      margin-bottom: 0.155em;
    }

    p:last-child {
      font-size: $font-medium-big;
      margin-bottom: 0;
      font-weight: 600;

      span {
        font-size: $font-medium;
      }
    }


  }

  .col-6:last-child {
    border-right: none;
  }

}


.cosplay-niveau-rij:first-child {
  border-top: 1px solid $heel-licht-grijs;
}



/* Cosplay share */
.social-footer.social-cosplay {
  margin-top: 0;
  margin-bottom: 0;

  li {
    margin-right: 15%;

    a img {
      width: 28.5px;
      height: 28.5px;
    }
  }
}


.share-block {
  margin-top: 2rem;

}


.share {
  font-size: $font-big;
  font-weight: 600;
  margin-bottom: 1.6rem;
}


.social-footer.social-cosplay {

  /*Pinterest*/
  li a img.social-google {
    background:url('/img/iconen/google-plus.svg') no-repeat;
    background-size: contain;

    &:hover {
      background:url('/img/iconen/google-plus-full.svg') no-repeat;
      background-size: contain;
    }
  }

   /*Twitter*/
   li a img.social-twitter {
     background:url('/img/iconen/twitter-social.svg') no-repeat;
     background-size: contain;

     &:hover {
       background:url('/img/iconen/twitter-social-full.svg') no-repeat;
       background-size: contain;
     }
   }

   /*Facebook*/
   li a img.social-facebook {
     background:url('/img/iconen/facebook-social.svg') no-repeat;
     background-size: contain;

     &:hover {
       background:url('/img/iconen/facebook-social-full.svg') no-repeat;
       background-size: contain;
     }
   }
}





/* SLIDER COSPLAYPHOTOS */


.carousel-item {
  background-color: $bijna-zwart;

  img {
    height: 560px;
    width: auto;
    margin: 0 auto;
  }
}

.carousel-control-prev, .carousel-control-next {
  bottom: -50px;
  top: 590px;
  width: auto;
}

.carousel-control-next {
  right: auto;
  margin-left: 55px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 32px;
  height: 10px;
}

.carousel-control-prev-icon {
    background-image: url("/img/iconen/pijltje-links-grijs.png");
}

.carousel-control-next-icon {
    background-image: url("/img/iconen/pijltje-rechts-grijs.png");
}




.cosplay-show {
  margin-bottom: 4.75rem;
}



/* PROJECT DESCRIPTION */
.project-description {
  border-top: 1px solid $heel-licht-grijs;
  padding: 2rem 1rem 1rem 1rem;

}

.project-description-info .float-left {
  margin-right: 1rem;
}

.project-description-info .float-left:last-child {
  margin-right: 0;
}

.project-description-info {
  margin-bottom: 0.4rem;

  h2 {
    text-transform: uppercase;
    font-size: $font-big;
    padding-top: 5px;
    font-weight: 600;
  }

  p {
    font-size: $font-small;
    color: $medium-licht-grijs;
    padding-top: 11px;
  }

}

.project-description-content {
  color: $medium-donker-grijs;
  font-size: 0.90em;
}


/* MEDIA QUERIES */
@media (max-width: 992px) {
  .cosplay-show .col-9, .cosplay-show .col-3.cosplay-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .carousel-control-prev, .carousel-control-next {
    bottom: 0;
    top: 0;
    width: 15%;
  }

  .carousel-control-next {
    right: 0;
    margin-left: 0;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 42px;
    height: 15px;
  }

  .carousel-control-prev-icon {
      background-image: url("/img/iconen/pijltje-links-wit.png");
  }

  .carousel-control-next-icon {
      background-image: url("/img/iconen/pijltje-rechts-wit.png");
  }

  .cosplay-show, .share-block {
    margin-bottom: 3rem;
  }




}
