.cosplay-profiel .col-9, .cosplay-profiel .col-3 {
  padding-top: 1.5em; }

/* PROFIEL INFO */
.profiel-info {
  text-align: center;
  padding-right: 0;
  padding-left: 0; }
  .profiel-info .profiel {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #e5e5e5; }
  .profiel-info h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 2px;
    font-weight: 600; }
  .profiel-info .profile-title {
    font-size: 0.6em;
    font-weight: 600;
    margin-top: 1em; }

/* herbruikbaar */
.profile-picture-large {
  border-radius: 50%; }

.small-grey-italic {
  font-size: 0.75em;
  font-style: italic;
  color: #adacac; }

#navbarDropdown {
  margin-top: -1em; }
  #navbarDropdown .more-icon {
    width: 20px; }

/* PROFIEL LEVEL */
.level-info {
  padding-top: 2em; }
  .level-info .progress-circle, .level-info .completed-circle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin: 0 auto; }
  .level-info .progress-circle {
    border: 2px solid #3e297b; }
  .level-info .completed-circle {
    border: 2px solid #ffad01; }
  .level-info .col-4 p {
    font-size: 0.6em;
    color: #8c8c8c;
    margin-top: 0.75em;
    margin-bottom: 0.5em; }
  .level-info .col-4 .progress-number {
    font-size: 1.2em;
    color: #3f3e3e;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2em; }

.level {
  position: relative;
  width: 128px;
  margin: 0 auto; }
  .level .background-circle {
    position: relative;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 4px solid #3e297b; }
  .level .level-circle {
    position: absolute;
    top: 0;
    left: 0; }
  .level .level-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    text-transform: uppercase; }

/* COSPLAYS OVERZICHT */
.cosplay-profiel .col-9 {
  border-left: 1px solid #e5e5e5;
  padding-left: 5%;
  /* Enkele cosplay */ }
  .cosplay-profiel .col-9 .cosplay {
    position: relative;
    padding-right: 3.75%;
    padding-left: 3.75%;
    margin-bottom: 10%;
    /*a.cosplay-hover-link:hover + .cosplay-hover {
      visibility: visible;
    }*/
    /* Nieuwe cosplay button */ }
    .cosplay-profiel .col-9 .cosplay a img {
      position: relative; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a, .cosplay-profiel .col-9 .cosplay .cosplay-hover img.cosplay-overlay {
      position: absolute; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover img.cosplay-overlay {
      top: 0;
      left: 11%;
      max-width: 100%;
      max-height: 100%; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a.thumbnail-title {
      left: 17%;
      bottom: 5.5%;
      max-width: 100%;
      text-transform: uppercase;
      text-decoration: underline;
      color: #f6f6f6;
      font-size: 1.1em;
      font-weight: 600; }
      .cosplay-profiel .col-9 .cosplay .cosplay-hover a.thumbnail-title:hover {
        text-decoration: none; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a.edit-link {
      top: 5.5%;
      right: 19%;
      padding: 0; }
      .cosplay-profiel .col-9 .cosplay .cosplay-hover a.edit-link .edit-picture {
        width: 17.5px; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a.delete-link {
      top: 5.5%;
      left: 17%;
      padding: 0; }
      .cosplay-profiel .col-9 .cosplay .cosplay-hover a.delete-link .delete-picture {
        width: 15px; }
    .cosplay-profiel .col-9 .cosplay a.new-cosplay {
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      color: #2e2e2e;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
      .cosplay-profiel .col-9 .cosplay a.new-cosplay:hover {
        color: #2e2e2e; }
  .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) {
    padding-right: 0;
    padding-left: 7.5%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover img {
      left: 22.5%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover a.thumbnail-title {
      left: 28.25%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover a.edit-link {
      right: 7.5%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover a.delete-link {
      left: 28.25%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) a.new-cosplay {
      left: 60.5%; }
  .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) {
    padding-right: 7.5%;
    padding-left: 0; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover img {
      top: 0;
      left: 0; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover a.thumbnail-title {
      left: 6%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover a.edit-link {
      right: 30%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover a.delete-link {
      left: 6%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) a.new-cosplay {
      left: 38.5%; }

@media (max-width: 992px) {
  .cosplay-profiel .col-9 {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 7.5%; }

  .cosplay-profiel .col-3 {
    flex: 0 0 30%;
    max-width: 30%; }

  .level-info .col-4 {
    flex: 0 0 40%;
    max-width: 40%; }

  .col-4.cosplay {
    flex: 0 0 50%;
    max-width: 50%; }

  .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) {
    padding-right: 0;
    padding-left: 7.5%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover img {
      left: 15%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.thumbnail-title, .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.delete-link {
      left: 21%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.edit-link {
      right: 7.5%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) a.new-cosplay {
      left: 57%; }

  .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) {
    padding-right: 7.5%;
    padding-left: 0; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover img {
      left: 0; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.thumbnail-title, .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.delete-link {
      left: 6%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.edit-link {
      right: 23%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) a.new-cosplay {
      left: 42%; } }
@media (max-width: 767px) {
  .cosplay-profiel .col-9 {
    flex: 0 0 60%;
    max-width: 60%; }
    .cosplay-profiel .col-9 .col-4.cosplay {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0 !important;
      padding-left: 7.5% !important; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover img,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover img {
      left: 7.5%;
      right: 0; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.thumbnail-title,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.delete-link,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.thumbnail-title,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.delete-link {
      left: 13%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.edit-link,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.edit-link {
      right: 7.5%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) a.new-cosplay,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) a.new-cosplay {
      left: 53%; }

  .cosplay-profiel .col-3 {
    flex: 0 0 40%;
    max-width: 40%; } }
.cosplay-show .col-9 {
  padding-left: 4%;
  padding-right: 0; }

.cosplay-show .col-3 {
  padding-right: 2.5%; }

/* COSPLAY INFO */
.cosplay-info {
  text-align: center; }
  .cosplay-info .col-3 .edit-icon img {
    width: 20px; }
  .cosplay-info .username-cosplay {
    margin-top: 0.5em; }

.profile-description {
  padding-left: 0 !important; }

.cosplay-names {
  margin-top: 1.25rem;
  padding-bottom: 1rem; }
  .cosplay-names h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #3e297b;
    margin-bottom: 0.15em;
    font-weight: 600; }
  .cosplay-names p {
    font-size: 0.75em;
    font-weight: 600; }

/* Cosplay niveau */
.cosplay-niveau-rij {
  border-bottom: 1px solid #e5e5e5; }
  .cosplay-niveau-rij .col-6 {
    border-right: 1px solid #e5e5e5;
    padding-top: 1.60rem;
    padding-bottom: 1.60rem; }
    .cosplay-niveau-rij .col-6 p:first-child {
      font-size: 0.75em;
      color: #adacac;
      margin-bottom: 0.155em; }
    .cosplay-niveau-rij .col-6 p:last-child {
      font-size: 1em;
      margin-bottom: 0;
      font-weight: 600; }
      .cosplay-niveau-rij .col-6 p:last-child span {
        font-size: 0.85em; }
  .cosplay-niveau-rij .col-6:last-child {
    border-right: none; }

.cosplay-niveau-rij:first-child {
  border-top: 1px solid #e5e5e5; }

/* Cosplay share */
.social-footer.social-cosplay {
  margin-top: 0;
  margin-bottom: 0; }
  .social-footer.social-cosplay li {
    margin-right: 15%; }
    .social-footer.social-cosplay li a img {
      width: 28.5px;
      height: 28.5px; }

.share-block {
  margin-top: 2rem; }

.share {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.6rem; }

.social-footer.social-cosplay {
  /*Pinterest*/
  /*Twitter*/
  /*Facebook*/ }
  .social-footer.social-cosplay li a img.social-google {
    background: url("/img/iconen/google-plus.svg") no-repeat;
    background-size: contain; }
    .social-footer.social-cosplay li a img.social-google:hover {
      background: url("/img/iconen/google-plus-full.svg") no-repeat;
      background-size: contain; }
  .social-footer.social-cosplay li a img.social-twitter {
    background: url("/img/iconen/twitter-social.svg") no-repeat;
    background-size: contain; }
    .social-footer.social-cosplay li a img.social-twitter:hover {
      background: url("/img/iconen/twitter-social-full.svg") no-repeat;
      background-size: contain; }
  .social-footer.social-cosplay li a img.social-facebook {
    background: url("/img/iconen/facebook-social.svg") no-repeat;
    background-size: contain; }
    .social-footer.social-cosplay li a img.social-facebook:hover {
      background: url("/img/iconen/facebook-social-full.svg") no-repeat;
      background-size: contain; }

/* SLIDER COSPLAYPHOTOS */
.carousel-item {
  background-color: #2e2e2e; }
  .carousel-item img {
    height: 560px;
    width: auto;
    margin: 0 auto; }

.carousel-control-prev, .carousel-control-next {
  bottom: -50px;
  top: 590px;
  width: auto; }

.carousel-control-next {
  right: auto;
  margin-left: 55px; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 32px;
  height: 10px; }

.carousel-control-prev-icon {
  background-image: url("/img/iconen/pijltje-links-grijs.png"); }

.carousel-control-next-icon {
  background-image: url("/img/iconen/pijltje-rechts-grijs.png"); }

.cosplay-show {
  margin-bottom: 4.75rem; }

/* PROJECT DESCRIPTION */
.project-description {
  border-top: 1px solid #e5e5e5;
  padding: 2rem 1rem 1rem 1rem; }

.project-description-info .float-left {
  margin-right: 1rem; }

.project-description-info .float-left:last-child {
  margin-right: 0; }

.project-description-info {
  margin-bottom: 0.4rem; }
  .project-description-info h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-top: 5px;
    font-weight: 600; }
  .project-description-info p {
    font-size: 0.7em;
    color: #adacac;
    padding-top: 11px; }

.project-description-content {
  color: #787878;
  font-size: 0.90em; }

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .cosplay-show .col-9, .cosplay-show .col-3.cosplay-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; }

  .carousel-control-prev, .carousel-control-next {
    bottom: 0;
    top: 0;
    width: 15%; }

  .carousel-control-next {
    right: 0;
    margin-left: 0; }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 42px;
    height: 15px; }

  .carousel-control-prev-icon {
    background-image: url("/img/iconen/pijltje-links-wit.png"); }

  .carousel-control-next-icon {
    background-image: url("/img/iconen/pijltje-rechts-wit.png"); }

  .cosplay-show, .share-block {
    margin-bottom: 3rem; } }
/* IMAGE UPLOAD*/
.cosplay-voorbeeld {
  position: relative; }
  .cosplay-voorbeeld img {
    width: 100%;
    margin-bottom: 3.25rem;
    position: relative;
    filter: drop-shadow(16px 25px 30px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(16px 25px 30px rgba(0, 0, 0, 0.3)); }
  .cosplay-voorbeeld img.edit-profile {
    filter: none;
    -webkit-filter: none; }
  .cosplay-voorbeeld .form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center; }
    .cosplay-voorbeeld .form-group input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .cosplay-voorbeeld .form-group label {
      font-family: 'Titillium Web', sans-serif;
      padding: 10px 15px;
      text-transform: uppercase;
      color: #f6f6f6;
      border: 1px solid #f6f6f6;
      font-weight: 600;
      font-size: 1.5em;
      cursor: pointer; }
      .cosplay-voorbeeld .form-group label:hover {
        background: rgba(255, 255, 255, 0.1); }
    .cosplay-voorbeeld .form-group p {
      font-size: 0.75em;
      color: #f6f6f6; }

/* buttons */
button.button-yellow {
  border: none; }

button.button-yellow.create {
  background-color: #3e297b;
  display: block;
  margin: 0 auto;
  margin-top: 2rem; }
  button.button-yellow.create:hover {
    background-color: #4a3192; }
  button.button-yellow.create h1 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0; }

.button-yellow.back-profiel {
  background-color: #bcbbbb; }
  .button-yellow.back-profiel:hover {
    background-color: #c3c2c2; }

/* INPUTS */
.create-cosplay input {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  color: #f6f6f6;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0); }
  .create-cosplay input:focus {
    box-shadow: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #f6f6f6; }
  .create-cosplay input::placeholder {
    text-decoration: underline;
    color: #f6f6f6; }

.create-cosplay .form-group.name {
  margin-bottom: 0.1em; }

.create-cosplay input[name="name_serie"] {
  font-size: 0.75em; }

/* Door grote gelijkheid: edit profiel pagina css */
h1.edit-profile-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.10rem; }

.profile-picture-large.edit-profile {
  width: auto;
  display: block;
  margin: 0 auto; }

.form-group.edit-profile {
  position: relative;
  transform: none;
  top: auto;
  left: auto;
  width: auto;
  margin-top: 0.75rem;
  margin-bottom: 1rem; }
  .form-group.edit-profile label {
    display: block;
    width: 200px;
    margin: 0 auto;
    color: #2e2e2e;
    border: 1px solid #bbb7b7;
    font-size: 1em; }
    .form-group.edit-profile label:hover {
      border-color: white;
      background-color: rgba(46, 46, 46, 0.05); }

.create-cosplay input.edit-profile {
  font-size: 1rem;
  padding: .375rem .75rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  color: #adacac; }

.create-cosplay .form-group.description {
  text-align: center; }

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .cosplay-voorbeeld .form-group label {
    font-size: 1.2em; }

  .cosplay-voorbeeld .form-group.edit-profile label {
    font-size: 1em; } }
@media (max-width: 992px) {
  .nieuw .col-5 {
    flex: 0 0 60%;
    max-width: 60%; }
  .nieuw .col {
    flex: 0 0 20%;
    max-width: 20%; } }
@media (max-width: 767px) {
  .nieuw .col-5 {
    flex: 0 0 70%;
    max-width: 70%; }
  .nieuw .col:first-child {
    flex: 0 0 30%;
    max-width: 30%; }
  .nieuw .col:last-child {
    flex: 0 0 0%;
    max-width: 0%; } }
/* ONDERDELEN */
.onderdelen {
  position: relative; }

.onderdelen .onderdeel:nth-child(2) {
  text-align: center; }

.onderdelen .onderdeel {
  margin-bottom: 5rem; }
  .onderdelen .onderdeel a {
    position: relative;
    display: inline-block; }
    .onderdelen .onderdeel a:hover .overlay-grijs {
      display: none; }
    .onderdelen .onderdeel a p {
      display: inline;
      margin: 0; }
    .onderdelen .onderdeel a img {
      width: 100px;
      border-radius: 50%; }
    .onderdelen .onderdeel a .overlay-grijs {
      width: 100px;
      height: 100px;
      background-color: rgba(48, 48, 48, 0.7);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }

.onderdelen .onderdeel:last-child {
  margin-bottom: 0; }

.onderdelen.left .onderdeel .onderdeel-title {
  margin-left: 12.5px; }

.onderdelen.right .onderdeel .onderdeel-title {
  margin-right: 12.5px; }

.onderdeel-title p {
  font-size: 0.7em !important;
  color: #3f3e3e;
  font-weight: 700; }
.onderdeel-title:hover {
  color: #3f3e3e; }

.cosplay-progress .col:first-child {
  padding-right: 5%; }

/*button rechts*/
.cosplay-progress .col:last-child {
  position: relative;
  padding-left: 5%; }
  .cosplay-progress .col:last-child .button-yellow {
    position: absolute;
    bottom: 0;
    right: 0; }

/* COSPLAYPHOTOS */
.cosplayphoto-upload {
  text-align: end; }
  .cosplayphoto-upload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

.cosplay-progress .col-5 .carousel-inner {
  height: 560px;
  filter: drop-shadow(16px 25px 30px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(16px 25px 30px rgba(0, 0, 0, 0.3)); }
.cosplay-progress .col-5 .carousel-item {
  background-color: rgba(0, 0, 0, 0); }
  .cosplay-progress .col-5 .carousel-item img {
    height: auto;
    max-width: 100%;
    width: auto; }
.cosplay-progress .col-5 .carousel-item .carousel-caption {
  height: 20px;
  width: 20px; }
.cosplay-progress .col-5 .carousel-control-prev, .cosplay-progress .col-5 .carousel-control-next {
  bottom: 0;
  top: -45px;
  height: 15px; }
.cosplay-progress .col-5 .carousel-control-prev.progress, .cosplay-progress .col-5 .carousel-control-next.progress {
  background-color: rgba(0, 0, 0, 0); }
.cosplay-progress .col-5 .carousel-caption {
  right: 6%;
  top: 0;
  bottom: auto;
  left: auto; }
.cosplay-progress .col-5 .cosplay-name {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4.5rem; }
  .cosplay-progress .col-5 .cosplay-name h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #f6f6f6; }

.icon-camera-simple {
  width: 30px;
  cursor: pointer; }

/* STATUS */
ul.status {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }
  ul.status li {
    padding-right: 20.5%;
    padding-bottom: 0.5em;
    display: inline-block;
    border-bottom: 2px solid #6d6b6b;
    /* Lancering */
    /* Shoppen */
    /* Knutselen */
    /* Verven */
    /* Media */ }
    ul.status li a {
      text-decoration: none;
      position: relative; }
      ul.status li a .sphere {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
        bottom: -0.95em;
        left: -45%; }
    ul.status li img {
      width: 25px;
      height: 25px;
      margin-left: -12.50px; }
    ul.status li a.lancering img {
      background-image: url("/img/iconen/spaceship.svg");
      background-size: contain; }
    ul.status li a.lancering:hover img, ul.status li a.lancering img.active {
      background-image: url("/img/iconen/spaceship-full.svg");
      background-size: contain; }
    ul.status li a.shoppen img {
      background-image: url("/img/iconen/shopping-bag.svg");
      background-size: contain; }
    ul.status li a.shoppen:hover img, ul.status li a.shoppen img.active {
      background-image: url("/img/iconen/shopping-bag-full.svg");
      background-size: contain; }
    ul.status li a.knutselen img {
      background-image: url("/img/iconen/crafting.svg");
      background-size: contain; }
    ul.status li a.knutselen:hover img, ul.status li a.knutselen img.active {
      background-image: url("/img/iconen/crafting-full.svg");
      background-size: contain; }
    ul.status li a.verven img {
      background-image: url("/img/iconen/spray-paint.svg");
      background-size: contain; }
    ul.status li a.verven:hover img, ul.status li a.verven img.active {
      background-image: url("/img/iconen/spray-paint-full2.svg");
      background-size: contain; }
    ul.status li a.icon-media img {
      background-image: url("/img/iconen/fancy-camera.svg");
      background-size: contain; }
    ul.status li a.icon-media:hover img, ul.status li a.icon-media img.active {
      background-image: url("/img/iconen/fancy-camera-full.svg");
      background-size: contain; }
  ul.status li:last-child {
    padding-right: 0;
    border: none; }

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .cosplay-progress .col-5 .carousel-item img {
    max-height: 500px; }

  .cosplay-progress .col-5 .cosplay-name {
    margin-top: 1rem;
    margin-bottom: 3.5rem; }

  ul.status li {
    padding-right: 19.6%; } }
@media (max-width: 992px) {
  .cosplay-progress .col-5 {
    flex: 0 0 45%;
    max-width: 45%;
    padding-right: 0;
    padding-left: 0; }

  .onderdelen .onderdeel .overlay-grijs {
    display: none; }

  .onderdelen.left, .onderdelen.right {
    padding-top: 2rem; }

  .onderdelen .onderdeel .float-right {
    float: none !important; }

  .onderdelen.left .onderdeel {
    text-align: left; }

  .onderdelen.right .onderdeel {
    text-align: right; }

  .onderdelen .onderdeel a img {
    width: 85px; }

  .cosplay-progress .col:first-child {
    padding-right: 15px; }

  .cosplay-progress .col:last-child {
    padding-left: 15px; }

  .cosplay-progress .col-5 .carousel-inner {
    height: 460px; }

  ul.status li {
    padding-right: 18.8%; }

  .cosplay-progress .col-5 .cosplay-name {
    margin-top: 2rem; }

  .cosplay-progress .col-5 .carousel-control-next.progress {
    right: auto;
    margin-left: 55px; }
  .cosplay-progress .col-5 .carousel-control-prev.progress .carousel-control-prev-icon {
    background-image: url(/img/iconen/pijltje-links-grijs.png); }
  .cosplay-progress .col-5 .carousel-control-next.progress .carousel-control-next-icon {
    background-image: url(/img/iconen/pijltje-rechts-grijs.png); } }
@media (max-width: 768px) {
  .cosplay-progress .col-5 .d-none {
    display: block !important; }

  .onderdelen .onderdeel a img {
    display: none; }

  .cosplay-progress .col-5 {
    flex: 0 0 50%;
    max-width: 50%; }

  .cosplay-progress .col {
    padding-top: 6rem; }

  .cosplay-progress .col:first-child {
    padding-left: 0; }

  .cosplay-progress .col:last-child {
    padding-right: 0; }

  .cosplay-progress .col-5 .cosplay-name {
    margin-top: 0; }

  ul.status li {
    padding-right: 17%; }

  .cosplay-progress .col:last-child .button-yellow {
    padding: 5px 10px; } }
@media (max-width: 562px) {
  ul.status li {
    padding-right: 16%; } }
@media (max-width: 520px) {
  .cosplay-progress .col-5 .carousel-inner {
    height: 400px; }

  .cosplay-progress .col {
    padding-top: 5rem; } }
@media (max-width: 458px) {
  .cosplay-progress .col-5 .carousel-inner {
    height: 350px; }

  ul.status li {
    padding-right: 14%; }

  .cosplay-progress .col {
    padding-top: 4rem; } }
.form-cosplay {
  padding-left: 6%; }

.cosplay-progress .col-7 {
  padding-right: 0; }

.cosplay-progress .col-7 .button-yellow {
  text-align: right; }

.button-yellow.edit-cosplay {
  margin-top: 7%; }

form.edit-cosplay label {
  font-size: 0.6em;
  color: #bcbbbb;
  text-transform: uppercase;
  font-weight: 600; }
form.edit-cosplay input, form.edit-cosplay select, form.edit-cosplay p.inline {
  font-size: 0.90em;
  font-weight: 600;
  color: #2e2e2e; }
form.edit-cosplay select {
  padding: 5px;
  border-color: #e5e5e5; }
form.edit-cosplay input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 0; }
form.edit-cosplay input.percentage, form.edit-cosplay input.tijd, form.edit-cosplay input.budget {
  width: 3em;
  display: inline; }
form.edit-cosplay input.tijd {
  width: 2.5em; }
form.edit-cosplay input.budget {
  width: 3.5em; }
form.edit-cosplay .row .col-4 {
  margin-right: 7%;
  flex: 0 0 26.333333%;
  max-width: 26.333333%;
  margin-bottom: 7%; }
form.edit-cosplay .row .col-4:last-child {
  margin-right: 0; }
form.edit-cosplay .form-group {
  margin-bottom: 0; }
form.edit-cosplay .lower-part-form {
  padding-left: 0;
  padding-right: 40px; }

label[for=thumbnail_url] {
  display: block;
  position: relative; }
  label[for=thumbnail_url] span {
    position: absolute;
    bottom: -160px;
    right: 0;
    text-transform: none; }

.top-left.thumbnail-url {
  top: 12px;
  left: 15px; }

.cosplayphoto-upload.thumbnail-url {
  margin-bottom: 0.60rem; }

@media (max-width: 1199px) {
  label[for=thumbnail_url] span {
    bottom: -140px; } }
@media (max-width: 992px) {
  .cosplay-progress .col-7 {
    flex: 0 0 55%;
    max-width: 55%; }

  .cosplay-progress .col-5 .carousel-inner.cosplay-edit {
    filter: none;
    -webkit-filter: none; }

  form.edit-cosplay .row .col-4:last-child {
    padding-right: 0; }

  form.edit-cosplay .lower-part-form {
    padding-right: 15px; }

  .icon-camera-simple.cosplay-edit {
    width: 20px; }

  .top-left.thumbnail-url {
    top: 5px; }

  label[for=thumbnail_url] span {
    bottom: -110px; }

  form.edit-cosplay p.months {
    font-size: 0.6em; }
  form.edit-cosplay select {
    font-size: 0.7em; } }
@media (max-width: 768px) {
  .cosplay-progress .col-7, .cosplay-progress .col-5.cosplay-edit {
    flex: 0 0 100%;
    max-width: 100%; }

  .cosplay-progress .col-7 {
    margin-top: 10%; }

  form.edit-cosplay p.months {
    font-size: 0.9em; }
  form.edit-cosplay select {
    font-size: 0.9em; }

  form.edit-cosplay .lower-part-form {
    padding-right: 25px; }

  .cosplay-progress .col-5 .carousel-item {
    background-color: #2e2e2e; } }
.login {
  background-color: #2e2e2e; }

.background-login {
  width: 542px;
  height: 452px;
  background-color: #2e2e2e; }

.form {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%); }
  .form form {
    padding-left: 15px;
    padding-right: 15px; }
  .form .form-group.mb-0 {
    margin-top: 4rem;
    margin-right: -15px; }
  .form .form-group.mb-0.register {
    margin-top: 2.5rem; }
  .form label {
    margin-right: 1.5rem; }
    .form label img {
      width: 25px; }
  .form .titel {
    margin-bottom: 4rem; }
  .form .titel.register {
    margin-bottom: 2.5rem; }
  .form input, .form input:focus {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #444444;
    border-radius: 0;
    font-size: 0.95em;
    color: #f6f6f6; }
    .form input::placeholder, .form input:focus::placeholder {
      color: #787878; }
  .form input:focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.25); }
  .form a.login-link {
    display: block;
    text-align: right;
    font-size: 0.85em;
    color: #adacac;
    font-weight: 400;
    text-decoration: none; }
    .form a.login-link span {
      text-decoration: underline;
      font-weight: 600;
      color: #f6f6f6; }
      .form a.login-link span:hover {
        color: #ffad01;
        text-decoration: none; }
  .form .login-extra {
    margin-top: 1.5rem; }

.login .col-5 {
  padding-left: 0; }

/* door sterke gelijkenis: Contact pagina: */
.row.contact {
  margin-top: 10%; }

.col-6.contact-form {
  height: 570px;
  padding-right: 0; }

.form-group.contact label img {
  opacity: 0.75; }

.form-group.contact input {
  border-color: #e5e5e5;
  color: #8c8c8c; }
  .form-group.contact input::placeholder {
    color: #bcbbbb; }

.titel.contact {
  margin-left: 21%; }

.form.contact {
  top: 45%; }

.col-6.astronaut {
  padding-left: 0; }
  .col-6.astronaut img {
    margin-left: -10%; }

.alert-success {
  margin-top: -60%;
  border: none; }

@media (max-width: 1199px) {
  .titel.login {
    margin-bottom: 2.5rem; }

  .form-group.mb-0.login {
    margin-top: 2.5rem; }

  .titel.contact {
    margin-left: 16%; }

  .form.contact {
    top: 42%; } }
@media (max-width: 991px) {
  .login .col-5 {
    flex: 0 0 0%;
    max-width: 0; }

  .login .col-7 {
    flex: 0 0 100%;
    max-width: 100%; }

  .form {
    top: 45%;
    left: 50%; }

  .titel.contact {
    margin-left: 0; }
    .titel.contact h1.large {
      font-size: 2.25em; }

  .form.contact {
    transform: translate(-37%, -63%);
    left: 30%;
    top: 47%; } }
@media (max-width: 768px) {
  .col-6.contact-form {
    height: 440px; }

  .background-login {
    width: 464px; }

  .col-6.contact-form {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 0; }

  .form.contact {
    transform: translate(-46%, -41%); }

  .col-6.astronaut {
    flex: 0 0 30%;
    max-width: 30%;
    margin-top: 5rem; }
    .col-6.astronaut img {
      margin-left: -70%; } }
@media (max-width: 574px) {
  .form {
    width: 255px; }

  .background-login {
    width: 389px; }

  .col-6.astronaut {
    flex: 0 0 0%;
    max-width: 0; }
    .col-6.astronaut img {
      display: none; }

  .col-6.contact-form {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-6.contact-form {
    height: 350px; }

  .form.contact {
    left: 47%;
    top: 65%;
    transform: translate(-50%, -50%); }

  .titel.contact {
    margin-left: 18%; } }
/* Algemeen */
.onderdeel .row {
  margin-bottom: 10rem; }

.onderdeel .row:last-child {
  margin-bottom: 4rem; }

.onderdeel p {
  font-size: 0.85em; }

/* HEADER */
.pruik .button-yellow.back-profiel {
  margin-bottom: 1rem;
  margin-left: -15px; }

.header, .header img {
  position: relative; }

.worbla .header .col-4 {
  padding-right: 5%;
  flex: 0 0 25.333333%;
  max-width: 25.333333%;
  padding-left: 15px; }

.worbla .header .col-8 iframe {
  width: 950px;
  height: 530px;
  border: none; }

.header-tekst {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 30%;
  color: #f6f6f6;
  text-align: right; }
  .header-tekst p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600; }

.header-tekst.tips {
  position: relative;
  left: 0;
  top: 7%;
  width: 100%; }

.header-tekst.tips .titel {
  display: block; }

.header-tekst.tips p.dark {
  color: #bcbbbb;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.header-tekst.tips .button-yellow {
  padding-right: 20px;
  padding-left: 20px; }

.header-tekst.tips .titel, .header-tekst.tips p {
  text-align: left; }

.header .link-cosplayer {
  font-size: 0.75em; }
  .header .link-cosplayer a {
    color: #f6f6f6; }

/* BLOKKEN MEER INFO */
.meer-info p {
  color: #8c8c8c;
  margin-top: 1.5rem;
  line-height: 1.65; }

.meer-info img {
  width: 60%; }

.meer-info img.large {
  width: 90%; }

.meer-info .titel {
  margin-top: 10%; }

.meer-info-target {
  margin-bottom: 8rem; }

/* Blog pagina's */
.worbla .meer-info .col-6.tekst {
  position: relative;
  padding-left: 6.1%; }
  .worbla .meer-info .col-6.tekst .titel, .worbla .meer-info .col-6.tekst p.dark {
    position: relative; }
  .worbla .meer-info .col-6.tekst p.nummer {
    position: absolute;
    color: #8263d9;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-size: 19em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    z-index: -1;
    top: -28%; }
  .worbla .meer-info .col-6.tekst p.nummer.first {
    left: -1.5%; }
  .worbla .meer-info .col-6.tekst p.nummer.second {
    left: -7%; }
  .worbla .meer-info .col-6.tekst p.nummer.third {
    left: -6%; }

/* LINKS */
.links .col-8 {
  margin-top: 7%; }

.row.links .link a {
  display: inline-block; }
  .row.links .link a img {
    width: 150px;
    border-radius: 50%; }

.link .tekst {
  color: #3e297b;
  text-decoration: none;
  padding-left: 7%; }
  .link .tekst:hover {
    color: #ffad01; }
  .link .tekst p {
    font-style: italic;
    font-size: 0.85em;
    margin-bottom: 0.25em;
    font-weight: 600; }
  .link .tekst p.sub-info {
    color: #adacac;
    font-weight: 400;
    font-size: 0.7em; }

.links .titel.extra-large {
  margin-bottom: 5.5rem; }

.links .link {
  margin-bottom: 4.5rem; }

.links .titel .small {
  margin-bottom: 2rem; }

@media (max-width: 1199px) {
  .header-tekst {
    width: 35%; }

  .worbla .meer-info .col-6.tekst p.nummer {
    top: -36%; }

  .worbla .meer-info .col-6.tekst p.nummer.first {
    left: -4%; }

  .worbla .meer-info .col-6.tekst p.nummer.second {
    left: -11%; }

  .worbla .meer-info .col-6.tekst p.nummer.third {
    left: -9%; } }
@media (max-width: 1100px) {
  .worbla .header .col-8 iframe {
    width: 775px;
    height: 450px; }

  .header-tekst.tips {
    top: 0.5%; } }
@media (max-width: 992px) {
  .header-tekst {
    width: 45%; }

  .header img {
    height: 525px; }

  .links .col-8 {
    margin-top: 4%; }

  .link .tekst {
    text-align: center;
    margin-top: 0.75rem;
    padding-left: 15%; }
    .link .tekst p {
      margin-bottom: 0; }

  .worbla .header .col-8 iframe {
    width: 625px;
    height: 350px; }

  .header-tekst.tips {
    top: -1%; }

  .worbla .header .col-4 {
    padding-right: 4%; }

  .worbla .buttons-linethrough {
    display: none; }

  .worbla .titel .large {
    font-size: 2em; }

  .header-tekst.tips p.dark {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }

  .worbla .meer-info .col-6.tekst p.nummer {
    top: -28%;
    font-size: 14em; }

  .worbla .meer-info .col-6.tekst p.nummer.first {
    left: -4%; }

  .worbla .meer-info .col-6.tekst p.nummer.second {
    left: -10%; } }
@media (max-width: 768px) {
  .header-tekst {
    width: 60%; }

  .meer-info img, .meer-info img.large {
    width: 100%; }

  .onderdeel .row {
    margin-bottom: 9rem; }

  .links .titel .extra-large {
    font-size: 3em; }

  .links .col-8 {
    margin-top: 2%; }

  .links .link {
    margin-bottom: 2.5rem; }

  .worbla .header .col-4 {
    padding-left: 0;
    padding-right: 0; }

  .worbla .header .col-4, .worbla .header .col-8 {
    flex: 0 0 100%;
    max-width: 100%; }

  .header-tekst.tips .titel {
    display: inline-block; }

  .header-tekst.tips, .header-tekst.tips p {
    text-align: center; }

  .worbla .header .col-8 iframe {
    width: 510px;
    height: 280px;
    margin-top: 3rem; }

  .worbla .meer-info .col-6.tekst p.nummer.first {
    left: -9%; }

  .worbla .meer-info .col-6.tekst p.nummer.third {
    left: -15%; } }
@media (max-width: 700px) {
  .header-tekst {
    width: 55%;
    top: 10%; }

  .header img {
    height: 450px; }

  .header-tekst p {
    font-size: 0.80em; }

  .header .link-cosplayer {
    font-size: 0.7em; } }
@media (max-width: 540px) {
  .header-tekst {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  .links .col-4.links-image-rechts {
    flex: 0 0 0;
    max-width: 0; }
    .links .col-4.links-image-rechts img {
      display: none; }

  .links .col-8 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pruik .titel .large, .pruik .titel .large.oversize {
    font-size: 2em; }

  .header-tekst.tips {
    position: relative;
    left: 0;
    top: 7%;
    width: 100%;
    transform: none; }

  p.nummer {
    display: none; } }
.tips-overzicht .row {
  margin-bottom: 17%; }

.tips-overzicht .row:last-child {
  margin-bottom: 5%; }

/* WORBLA EN FOAM */
.worbla-img-breastplate {
  width: 80%; }

.worbla-img-daedrik {
  width: 75%;
  margin-top: -110px; }

.tips-overzicht .titel {
  margin-top: 2rem;
  margin-bottom: 7rem; }

.button-yellow.worbla-tip {
  margin-top: 2.6rem;
  margin-left: -7%; }

.tips-overzicht .buttons-linethrough {
  width: 125px;
  left: -115px; }

/* BEGINNER TIPS */
.scissors {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  width: 90%; }

.col-5.beginner-tips {
  text-align: right; }

.tips-overzicht .buttons-linethrough.right {
  left: 140px; }

.beginner-tips .button-yellow {
  margin-right: 100px;
  margin-top: 4rem; }

/* COSPLAY PLANNER */
.button-yellow.planner {
  margin-top: 4rem;
  margin-left: -25%; }

.worbla-img-compass {
  width: 85%;
  margin-left: -5%; }

.worbla-img-planner {
  width: 80%; }

@media (max-width: 1199px) {
  .scissors {
    left: -28%; } }
@media (max-width: 992px) {
  .scissors {
    left: -43%; }

  .worbla-img-daedrik {
    margin-top: -20px; }

  .tips-overzicht .row:last-child {
    margin-bottom: 10%; } }
@media (max-width: 892px) {
  .scissors {
    left: -30%; } }
@media (max-width: 768px) {
  .scissors {
    left: -47%; }

  .tips-overzicht .row:last-child {
    margin-bottom: 15%; }

  .tips-overzicht .titel {
    margin-bottom: 9rem; }
    .tips-overzicht .titel h1 {
      font-size: 2em; }

  .worbla-img-daedrik {
    width: 100%; }

  .tips-overzicht .row .col-6:first-child, .tips-overzicht .row .col-5, .tips-overzicht .row .col-8 {
    padding-left: 0; }

  .tips-overzicht .row .col-6:first-child img {
    width: 90%; }

  .button-yellow.worbla-tip {
    margin-top: 2.8rem;
    margin-left: 10%; }

  .button-yellow.planner {
    margin-left: -15%; }

  .beginner-tips .button-yellow {
    margin-right: 50px; }

  .worbla-img-compass {
    margin-left: 15%; }

  .beginner-tips .button-yellow {
    margin-right: 20px; } }
@media (max-width: 670px) {
  .scissors {
    left: -32%; } }
@media (max-width: 575px) {
  .scissors {
    display: none; }

  .tips-overzicht .row:last-child {
    margin-bottom: 20%; }

  .tips-overzicht .row .col-6:first-child, .tips-overzicht .row .col-5, .tips-overzicht .row .col-8 {
    padding-left: 15px; } }
@media (max-width: 500px) {
  .beginner-tips .button-yellow {
    margin-right: 0; } }
@media (max-width: 473px) {
  .tips-overzicht .buttons-linethrough {
    width: 100px;
    left: -90px; }

  .tips-overzicht .titel {
    margin-bottom: 5.5rem; }

  .button-yellow.planner {
    margin-top: 2rem; } }
.home .row {
  margin-bottom: 10rem; }

.home .row:last-child {
  margin-bottom: 4rem; }

.partners .row {
  margin-bottom: 2.5rem; }

/* HEADER */
.home-header-top {
  border-bottom: 1px solid #e5e5e5; }

.home p {
  color: #8c8c8c;
  font-size: 0.75em; }

.home p.bold {
  font-weight: 600; }

/* Linkerkant met tekst */
.home .home-header .col-4 {
  padding-right: 0;
  margin-right: 8%; }
  .home .home-header .col-4 p {
    margin-top: 2rem; }

.join-knop {
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 1.75rem;
  margin-bottom: 2.75rem; }
  .join-knop a {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 1.3em; }
    .join-knop a:hover {
      color: #ffad01; }
    .join-knop a:hover img {
      background-color: #ffb824; }
  .join-knop p, .join-knop img {
    display: inline-block; }
  .join-knop img {
    width: 50px;
    height: 50px;
    background-color: #ffad01;
    border-radius: 50%;
    margin-left: 12px; }

/* Rechterkant met slider */
#carouselHome {
  margin-top: -175px;
  width: 750px;
  height: 675px; }
  #carouselHome .carousel-item {
    background-color: rgba(0, 0, 0, 0); }
    #carouselHome .carousel-item img {
      height: auto; }
    #carouselHome .carousel-item .carousel-caption {
      bottom: 25px;
      right: auto;
      left: 100px;
      font-weight: 600; }
      #carouselHome .carousel-item .carousel-caption p {
        display: inline;
        color: white; }
      #carouselHome .carousel-item .carousel-caption a {
        margin-left: 70px;
        text-decoration: none;
        color: white;
        font-family: 'Titilium Web', sans-serif; }
        #carouselHome .carousel-item .carousel-caption a:hover {
          text-decoration: underline; }
  #carouselHome .carousel-control-prev, #carouselHome .carousel-control-next {
    top: 610px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.75; }
    #carouselHome .carousel-control-prev:hover, #carouselHome .carousel-control-next:hover {
      opacity: 1; }
  #carouselHome .carousel-control-prev {
    left: 50px; }
    #carouselHome .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("/img/iconen/pijltje-links-wit.png");
      background-color: rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.15); }
  #carouselHome .carousel-control-next {
    left: 95px; }
    #carouselHome .carousel-control-next .carousel-control-next-icon {
      background-image: url("/img/iconen/pijltje-rechts-wit.png");
      background-color: rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.15); }

/* CREATE & INSPIRE */
.create-inspire .col-8 {
  margin-left: -4.5%;
  flex: 0 0 60%;
  max-width: 60%; }
  .create-inspire .col-8 img {
    width: 125%; }

.create-inspire .col-4 {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: right;
  margin-top: 5rem; }
  .create-inspire .col-4 .titel {
    margin-bottom: 2rem; }

.home .button-yellow {
  margin-top: 1rem; }
  .home .button-yellow p {
    color: white;
    font-size: 1em; }

.home p.subtext {
  color: #adacac; }

/* WORBLA TEASER */
.home .row.worbla-teaser {
  margin-bottom: 13rem; }

.worbla-teaser .col-4 {
  flex: 0 0 50%;
  max-width: 50%; }
  .worbla-teaser .col-4 .titel {
    margin-bottom: 2rem; }
  .worbla-teaser .col-4 .button-yellow {
    margin-left: 75px; }

.worbla-teaser .col-8 {
  flex: 0 0 50%;
  max-width: 50%; }
  .worbla-teaser .col-8 img {
    margin-left: -45%; }

/* TESTIMONIALS */
.home .row.testimonials {
  margin-bottom: 13rem; }

.testimonials .col-6 {
  position: relative; }
  .testimonials .col-6 .telefoon {
    position: absolute;
    top: 0;
    z-index: -1; }
  .testimonials .col-6 .telefoon.links {
    left: -70%; }
  .testimonials .col-6 .telefoon.rechts {
    left: 122%; }

.testimonials .col-6, .partners .col-9 {
  text-align: center; }
  .testimonials .col-6 .titel, .partners .col-9 .titel {
    display: inline-block;
    margin-bottom: 2rem; }

/* slider*/
#carouselTestimonials .stars {
  margin-bottom: 2rem; }
  #carouselTestimonials .stars img {
    width: 18px;
    height: 18px; }
#carouselTestimonials .join-knop {
  margin-top: 3rem; }
  #carouselTestimonials .join-knop a {
    color: #f6f6f6; }
    #carouselTestimonials .join-knop a:hover {
      color: #ffad01; }
#carouselTestimonials p.testimonial {
  color: #f6f6f6;
  font-size: 0.85em;
  text-align: left; }
#carouselTestimonials p.name {
  color: #f6f6f6;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.25em; }
#carouselTestimonials img.testimonial-profile {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-bottom: 0.5em; }
#carouselTestimonials .carousel-control-prev, #carouselTestimonials .carousel-control-next {
  top: 55%;
  bottom: auto;
  background-color: rgba(0, 0, 0, 0); }
#carouselTestimonials .carousel-control-prev-icon, #carouselTestimonials .carousel-control-next-icon {
  width: 55px;
  height: 20px; }
#carouselTestimonials .carousel-control-prev {
  left: -20%; }
  #carouselTestimonials .carousel-control-prev .carousel-control-next-icon {
    background-image: url("/img/iconen/pijltje-rechts-grijs.png"); }
#carouselTestimonials .carousel-control-next {
  right: -20%;
  margin-left: 0; }
  #carouselTestimonials .carousel-control-next .carousel-control-next-icon {
    background-image: url("/img/iconen/pijltje-rechts-grijs.png"); }

/* PARTNERS */
.partners .titel .small {
  color: #adacac;
  font-size: 1.3em; }

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .create-inspire .col-8 img {
    width: 120%; }

  .testimonials .col-6 .telefoon.links {
    left: -85%; } }
@media (max-width: 992px) {
  #carouselHome .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 35px;
    height: 12px; }

  #carouselHome .carousel-control-prev {
    left: 10px; }

  #carouselHome .carousel-control-next {
    left: 110px; }

  .home .home-header .col-4 {
    margin-right: 5%;
    flex: 0 0 38%;
    max-width: 38%; }

  .home .home-header .col-7 {
    flex: 0 0 53%;
    max-width: 53%; }

  .home .more-inspiration {
    width: 200px; }

  .join-knop a {
    font-size: 1.2em; }

  .home .create-inspire .titel .large, .home .worbla-teaser .titel .large {
    font-size: 1.9em; }

  .create-inspire .col-4 {
    margin-top: 2rem; }

  .create-inspire .col-8 img {
    width: 115%; }

  .worbla-teaser .col-8 img {
    width: 150%; }

  .create-inspire .col-4 {
    flex: 0 0 43%;
    max-width: 43%; }

  .testimonials .col-6 {
    flex: 0 0 60%;
    max-width: 60%; }

  #carouselTestimonials .carousel-control-prev-icon {
    background-image: url("/img/iconen/pijltje-links-grijs.png"); }

  #carouselTestimonials .carousel-control-next-icon {
    background-image: url("/img/iconen/pijltje-rechts-grijs.png"); }

  .partners .col-9 {
    flex: 0 0 90%;
    max-width: 90%; } }
@media (max-width: 768px) {
  #carouselHome {
    margin-top: 0;
    width: 650px;
    height: 575px; }
    #carouselHome .carousel-inner .carousel-item img {
      height: 575px; }
    #carouselHome .carousel-inner .carousel-item .d-none {
      display: block !important; }

  #carouselHome .carousel-control-prev, #carouselHome .carousel-control-next {
    top: 510px; }

  .home .home-header .col-4 {
    margin-right: 3%;
    padding-left: 0;
    flex: 0 0 42%;
    max-width: 42%; }

  #carouselHome .carousel-item .carousel-caption a {
    text-decoration: underline; }

  .join-knop {
    margin-top: 2.5rem; }
    .join-knop a {
      font-size: 1.1em; }
    .join-knop img {
      width: 40px;
      height: 40px; }

  .home .titel .large {
    font-size: 2.2em;
    margin-top: 2rem; }

  .home .home-header .col-4 p {
    margin-top: 2.5rem; }

  .create-inspire .col-8 {
    padding-left: 0; }

  .home .create-inspire .titel .large {
    margin-top: 0;
    text-align: left;
    width: 130%; }

  .home .create-inspire .titels-underline, .home .create-inspire .titel .large {
    margin-left: -20%; }

  .create-inspire .col-4 .titel {
    margin-bottom: 1rem; }

  .worbla-teaser .col-8 img {
    margin-left: -25%;
    margin-top: 4rem; }

  .testimonials .col-6 {
    flex: 0 0 80%;
    max-width: 80%; }

  .testimonials .col-6 .d-none {
    display: block !important; }

  .partners .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; }

  .partners .justify-content-betweens .col img {
    max-width: 110px; }

  .testimonials .col-6 .telefoon.rechts {
    left: 110%; } }
@media (max-width: 720px) {
  #carouselHome .carousel-item .carousel-caption {
    left: 92px; }

  #carouselHome .carousel-item .carousel-caption a {
    font-size: 0.9em; } }
@media (max-width: 670px) {
  #carouselHome .carousel-item .carousel-caption a {
    font-size: 1.1em; }

  .home .home-header .col-4 {
    margin-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; }
    .home .home-header .col-4 p span {
      display: none; }

  .home .home-header .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    margin-top: 3rem;
    margin-bottom: 3rem; }

  .home .titels-underline.purple {
    display: none; }

  .telefoon {
    display: none; }

  .home .row, .home {
    margin-bottom: 7rem; }

  .home .row.worbla-teaser, .home .row.testimonials {
    margin-bottom: 10rem; }

  .home .row:last-child {
    margin-bottom: 3rem; }

  .partners .row {
    margin-bottom: 1rem; }

  #carouselTestimonials .carousel-control-prev, #carouselTestimonials .carousel-control-next {
    top: 93%; }

  #carouselTestimonials .carousel-control-prev {
    left: 5%; }

  #carouselTestimonials .carousel-control-next {
    right: 5%; }

  #carouselTestimonials .carousel-control-prev-icon {
    background-image: url("/img/iconen/pijltje-links-wit.png"); }

  #carouselTestimonials .carousel-control-next .carousel-control-next-icon {
    background-image: url("/img/iconen/pijltje-rechts-wit.png"); } }
@media (max-width: 540px) {
  .partners .justify-content-betweens .col img {
    max-width: 90px; }

  .home .create-inspire .titel .large {
    margin-left: 0;
    text-align: center; } }
.about .row {
  margin-bottom: 15rem; }

.about .row:last-child {
  margin-bottom: 5rem; }

.about .header .col-3 {
  flex: 0 0 27%;
  max-width: 27%; }

.about .header .col-5 .header-tekst {
  text-align: center;
  top: 0; }

.about .header-tekst img {
  height: 348px;
  width: 376px; }

.about .header .col-5 .header-tekst .titel {
  display: inline-block;
  margin-bottom: 3rem; }

.about .header-tekst {
  text-align: left; }

.about .header .col-3:first-child p {
  margin-top: 70%;
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: #5a5959; }

.about .header .col-3:last-child {
  position: relative; }
  .about .header .col-3:last-child .button-yellow {
    position: absolute;
    bottom: 0;
    left: 50%; }

.about .meer-info .button-yellow {
  margin-top: 2rem;
  margin-left: 75px; }

.about .join-knop {
  margin-top: 2.5rem; }

.about .meer-info p {
  color: white; }

@media (max-width: 992px) {
  .about .header-tekst .titel h1 {
    font-size: 2em; }

  .about .buttons-linethrough {
    display: block; } }
@media (max-width: 768px) {
  .about .header .col-3 {
    flex: 0 0 29%;
    max-width: 29%; }

  .about .header img {
    margin-left: -20px; }

  .about .col-5 {
    flex: 0 0 70%;
    max-width: 70%; }

  .about .header .col-3:last-child {
    padding-left: 40%; } }
@media (max-width: 540px) {
  .about .row {
    margin-bottom: 6rem; }

  .about .row:last-child {
    margin-bottom: 3rem; }

  .about .meer-info img {
    display: none; }

  .about .meer-info .join-knop img {
    display: inline-block; }

  .about .meer-info .col-6 {
    flex: 0 0 100%;
    max-width: 100%; } }
@media (max-width: 486px) {
  .about .col-3 p span {
    display: none; } }
body {
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e;
  overflow-x: hidden; }

.button-yellow {
  position: relative;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #ffad01;
  color: #f6f6f6;
  font-size: 0.85em;
  font-weight: 600;
  display: inline-block; }
  .button-yellow:hover {
    background-color: #ffb824;
    text-decoration: none;
    color: #f6f6f6; }
  .button-yellow p {
    display: inline;
    margin: 0; }
  .button-yellow p.left {
    margin-left: 40px; }
  .button-yellow p.right {
    margin-right: 40px; }
  .button-yellow .arrow {
    position: absolute;
    height: 12px; }
  .button-yellow img.left, .button-yellow img.right {
    top: 35%; }
  .button-yellow img.right {
    right: 15px; }

.buttons-linethrough {
  position: absolute;
  top: 49%;
  left: -75px;
  height: 2px;
  width: 85px;
  background-color: black; }

.alert-danger {
  list-style: none;
  margin-top: 2rem;
  border: none;
  padding: 0;
  background: none; }
  .alert-danger li {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    background-color: #f8d7da; }
  .alert-danger li:last-child {
    margin-bottom: 0; }

.titel {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 0.35em; }
  .titel .small {
    font-size: 1.5em; }
  .titel .medium {
    font-size: 2em; }
  .titel .large {
    font-size: 2.5em;
    font-weight: 700; }
  .titel .large.oversize {
    font-size: 2.25em; }
  .titel .extra-large {
    font-size: 3.5em; }

.light {
  color: #f6f6f6; }

.dark {
  color: #2e2e2e !important; }

.purple {
  color: #3e297b; }

.titels-underline {
  width: 35%;
  background-color: #2e2e2e; }

.titels-underline.small {
  height: 2.5px; }

.titels-underline.medium {
  height: 3.5px; }

.titels-underline.large {
  height: 4.5px; }

.titels-underline.light {
  background-color: #f6f6f6; }

.titels-underline.purple {
  background-color: #3e297b; }

.titels-underline.grey {
  background-color: #bcbbbb; }

/* ALGEMEEN */
.padding-top-3em {
  padding-top: 3em; }

.margin-top-1-5rem {
  margin-top: 1.5rem; }

.stick-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 0; }

.top-left {
  position: absolute;
  top: 0;
  left: 0; }

a.link {
  text-decoration: underline; }
  a.link:hover {
    color: #ffad01;
    text-decoration: none; }

.desaturate {
  filter: grayscale(100%); }

.margin-bottom-7 {
  margin-bottom: 7% !important; }

.block {
  display: block; }

.inline {
  display: inline; }

.uppercase {
  text-transform: uppercase; }

/* NAVIGATIE */
.navbar {
  margin-bottom: 3em;
  z-index: 10; }

.navbar-top {
  margin-top: 0.75em; }

a.profile-link {
  padding: 0;
  padding-bottom: 0.5em;
  padding-left: 0.5em; }
  a.profile-link .profile-picture {
    width: 45px;
    border-radius: 50%;
    margin-top: -0.4em; }

.navbar-brand {
  margin-right: 0.5em; }

.logo-kleur {
  width: 50px; }

.navbar-nav, .nav-footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.7em; }

.navbar-nav li {
  margin-top: 0.4em; }
  .navbar-nav li .nav-link {
    color: #bcbbbb !important;
    padding-left: 1.2rem !important; }
    .navbar-nav li .nav-link:hover {
      color: #aaa9a9 !important; }
.navbar-nav li.profile-link {
  margin-top: 0; }

/* hamburger */
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border: none; }

.navbar-toggler:focus {
  outline: none; }

/* FOOTER */
.footer-background, .footer-background-earth {
  width: 100%;
  position: relative;
  z-index: -2;
  margin-top: -100px;
  background-color: #302e2f; }

.footer-background-earth {
  margin-top: -225px; }

.footer-background.up {
  margin-top: -300px;
  padding-bottom: 5%; }

footer {
  background-color: #302e2e;
  text-align: center; }
  footer .logo-zw {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  footer p {
    font-size: 0.7em;
    margin-bottom: 0;
    padding-bottom: 1em;
    color: #bcbbbb; }

.social-footer, .nav-footer {
  list-style: none;
  padding: 0; }
  .social-footer li, .nav-footer li {
    margin-right: 5em;
    display: inline; }
  .social-footer li:last-child, .nav-footer li:last-child {
    margin-right: 0; }

.social-footer {
  margin-top: 3em;
  margin-bottom: 3em;
  /*Facebook*/
  /*Instagram*/
  /*Pinterest*/ }
  .social-footer li a img {
    height: 30px;
    width: 30px; }
  .social-footer li a img.social-facebook {
    background: url("/img/iconen/facebook.svg") no-repeat;
    background-size: contain; }
    .social-footer li a img.social-facebook:hover {
      background: url("/img/iconen/facebook-full.svg") no-repeat;
      background-size: contain; }
  .social-footer li a img.social-instagram {
    background: url("/img/iconen/instagram.svg") no-repeat;
    background-size: contain; }
    .social-footer li a img.social-instagram:hover {
      background: url("/img/iconen/instagram-full.svg") no-repeat;
      background-size: contain; }
  .social-footer li a img.social-pinterest {
    background: url("/img/iconen/pinterest.svg") no-repeat;
    background-size: contain; }
    .social-footer li a img.social-pinterest:hover {
      background: url("/img/iconen/pinterest-full.svg") no-repeat;
      background-size: contain; }

.nav-footer {
  margin-bottom: 7em; }
  .nav-footer li {
    margin-right: 7em; }
    .nav-footer li a {
      text-decoration: none;
      color: #bcbbbb; }
      .nav-footer li a:hover {
        color: #e5e5e5; }

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .footer-background.up {
    padding-bottom: 10%; } }
@media (max-width: 992px) {
  .footer-background.up {
    padding-bottom: 15%; }

  .footer-background.down {
    margin-top: -50px; } }
@media (max-width: 945px) {
  .footer-background.up {
    padding-bottom: 20%; } }
/*tablet*/
@media (max-width: 768px) {
  .navbar-nav li a {
    text-align: center; }

  .navbar-collapse a.profile-link .profile-picture {
    margin-top: 0.5em; }

  .navbar-top {
    margin-top: 1.5em; }

  .logo-kleur {
    width: 60px; }

  .navbar-nav {
    font-size: 0.85em; }

  .footer-background.up {
    padding-bottom: 30%; }

  .footer-background-earth {
    margin-top: -150px; } }
@media (max-width: 700px) {
  .footer-background.up {
    padding-bottom: 40%; } }
@media (max-width: 575px) {
  .footer-background.up {
    margin-top: -250px; } }
@media (max-width: 520px) {
  .footer-background.up {
    margin-top: -200px; }

  .nav-footer li {
    margin-right: 5em; } }
@media (max-width: 440px) {
  .nav-footer li {
    margin-right: 4em; }

  .footer-background-earth {
    margin-top: -125px; } }

/*# sourceMappingURL=style.css.map */
