.cosplay-profiel .col-9, .cosplay-profiel .col-3 {
  padding-top: 1.5em; }

/* PROFIEL INFO */
.profiel-info {
  text-align: center;
  padding-right: 0;
  padding-left: 0; }
  .profiel-info .profiel {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #e5e5e5; }
  .profiel-info h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 2px; }
  .profiel-info .profile-title {
    font-size: 0.6em;
    font-weight: 600;
    margin-top: 1em; }

/* herbruikbaar */
.profile-picture-large {
  border-radius: 50%; }

.small-grey-italic {
  font-size: 0.75em;
  font-style: italic;
  color: #adacac; }

#navbarDropdown {
  margin-top: -1em; }
  #navbarDropdown .more-icon {
    width: 20px; }

/* PROFIEL LEVEL */
.level-info {
  padding-top: 2em; }
  .level-info .progress-circle, .level-info .completed-circle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin: 0 auto; }
  .level-info .progress-circle {
    border: 2px solid #3e297b; }
  .level-info .completed-circle {
    border: 2px solid #ffad01; }
  .level-info .col-4 p {
    font-size: 0.6em;
    color: #8c8c8c;
    margin-top: 0.75em;
    margin-bottom: 0.5em; }
  .level-info .col-4 .progress-number {
    font-size: 1.2em;
    color: #3f3e3e;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2em; }

.level {
  position: relative;
  width: 128px;
  margin: 0 auto; }
  .level .background-circle {
    position: relative;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 4px solid #3e297b; }
  .level .level-circle {
    position: absolute;
    top: 0;
    left: 0; }
  .level .level-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600; }

/* COSPLAYS OVERZICHT */
.cosplay-profiel .col-9 {
  border-left: 1px solid #e5e5e5;
  padding-left: 5%;
  /* Enkele cosplay */ }
  .cosplay-profiel .col-9 .cosplay {
    position: relative;
    padding-right: 3.75%;
    padding-left: 3.75%;
    margin-bottom: 10%;
    /*a.cosplay-hover-link:hover + .cosplay-hover {
      visibility: visible;
    }*/
    /* Nieuwe cosplay button */ }
    .cosplay-profiel .col-9 .cosplay a img {
      position: relative; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a, .cosplay-profiel .col-9 .cosplay .cosplay-hover img.cosplay-overlay {
      position: absolute; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover img.cosplay-overlay {
      top: 0;
      left: 11%;
      max-width: 100%;
      max-height: 100%; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a.thumbnail-title {
      left: 17%;
      bottom: 5.5%;
      max-width: 100%;
      text-transform: uppercase;
      text-decoration: underline;
      color: #f6f6f6;
      font-size: 1.1em;
      font-weight: 600; }
      .cosplay-profiel .col-9 .cosplay .cosplay-hover a.thumbnail-title:hover {
        text-decoration: none; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a.edit-link {
      top: 5.5%;
      right: 19%;
      padding: 0; }
      .cosplay-profiel .col-9 .cosplay .cosplay-hover a.edit-link .edit-picture {
        width: 17.5px; }
    .cosplay-profiel .col-9 .cosplay .cosplay-hover a.delete-link {
      top: 5.5%;
      left: 17%;
      padding: 0; }
      .cosplay-profiel .col-9 .cosplay .cosplay-hover a.delete-link .delete-picture {
        width: 15px; }
    .cosplay-profiel .col-9 .cosplay a.new-cosplay {
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      background-color: #ffad01;
      color: #2e2e2e;
      font-size: 0.85em;
      font-weight: 600;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
      .cosplay-profiel .col-9 .cosplay a.new-cosplay:hover {
        background-color: #ffb824; }
  .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) {
    padding-right: 0;
    padding-left: 7.5%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover img {
      left: 22.5%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover a.thumbnail-title {
      left: 28.25%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover a.edit-link {
      right: 7.5%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) .cosplay-hover a.delete-link {
      left: 28.25%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+3) a.new-cosplay {
      left: 60.5%; }
  .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) {
    padding-right: 7.5%;
    padding-left: 0; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover img {
      top: 0;
      left: 0; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover a.thumbnail-title {
      left: 6%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover a.edit-link {
      right: 30%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) .cosplay-hover a.delete-link {
      left: 6%; }
    .cosplay-profiel .col-9 .cosplay:nth-child(3n+1) a.new-cosplay {
      left: 38.5%; }

@media (max-width: 992px) {
  .cosplay-profiel .col-9 {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 7.5%; }

  .cosplay-profiel .col-3 {
    flex: 0 0 30%;
    max-width: 30%; }

  .level-info .col-4 {
    flex: 0 0 40%;
    max-width: 40%; }

  .col-4.cosplay {
    flex: 0 0 50%;
    max-width: 50%; }

  .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) {
    padding-right: 0;
    padding-left: 7.5%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover img {
      left: 15%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.thumbnail-title, .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.delete-link {
      left: 21%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.edit-link {
      right: 7.5%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) a.new-cosplay {
      left: 57%; }

  .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) {
    padding-right: 7.5%;
    padding-left: 0; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover img {
      left: 0; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.thumbnail-title, .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.delete-link {
      left: 6%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.edit-link {
      right: 23%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) a.new-cosplay {
      left: 42%; } }
@media (max-width: 767px) {
  .cosplay-profiel .col-9 {
    flex: 0 0 60%;
    max-width: 60%; }
    .cosplay-profiel .col-9 .col-4.cosplay {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0 !important;
      padding-left: 7.5% !important; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover img,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover img {
      left: 7.5%;
      right: 0; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.thumbnail-title,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.delete-link,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.thumbnail-title,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.delete-link {
      left: 13%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) .cosplay-hover a.edit-link,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) .cosplay-hover a.edit-link {
      right: 7.5%; }
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(even) a.new-cosplay,
    .cosplay-profiel .col-9 .col-4.cosplay:nth-child(odd) a.new-cosplay {
      left: 53%; }

  .cosplay-profiel .col-3 {
    flex: 0 0 40%;
    max-width: 40%; } }
/* COSPLAY INFO */
.cosplay-info {
  text-align: center; }
  .cosplay-info .col-3 .edit-icon img {
    width: 20px; }
  .cosplay-info .username-cosplay {
    margin-top: 0.5em; }

.profile-description {
  padding-left: 0 !important; }

.cosplay-names {
  margin-top: 1.25rem;
  padding-bottom: 1rem; }
  .cosplay-names h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #3e297b;
    margin-bottom: 0.15em;
    font-weight: 600; }
  .cosplay-names p {
    font-size: 0.75em;
    font-weight: 600; }

/* Cosplay niveau */
.cosplay-niveau-rij {
  border-bottom: 1px solid #e5e5e5; }
  .cosplay-niveau-rij .col-6 {
    border-right: 1px solid #e5e5e5;
    padding-top: 1.60rem;
    padding-bottom: 1.60rem; }
    .cosplay-niveau-rij .col-6 p:first-child {
      font-size: 0.75em;
      color: #adacac;
      margin-bottom: 0.155em; }
    .cosplay-niveau-rij .col-6 p:last-child {
      font-size: 1em;
      margin-bottom: 0;
      font-weight: 600; }
  .cosplay-niveau-rij .col-6:last-child {
    border-right: none; }

.cosplay-niveau-rij:first-child {
  border-top: 1px solid #e5e5e5; }

/* Cosplay share */
.social-footer.social-cosplay {
  margin-top: 0;
  margin-bottom: 0; }
  .social-footer.social-cosplay li {
    margin-right: 15%; }
    .social-footer.social-cosplay li a img {
      width: 28.5px;
      height: 28.5px; }

.share-block {
  margin-top: 2rem; }

.share {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.6rem; }

.social-footer.social-cosplay {
  /*Pinterest*/
  /*Twitter*/
  /*Facebook*/ }
  .social-footer.social-cosplay li a img.social-pinterest {
    background: url("/img/iconen/pinterest-social.svg") no-repeat;
    background-size: contain; }
    .social-footer.social-cosplay li a img.social-pinterest:hover {
      background: url("/img/iconen/pinterest-social-full.svg") no-repeat;
      background-size: contain; }
  .social-footer.social-cosplay li a img.social-twitter {
    background: url("/img/iconen/twitter-social.svg") no-repeat;
    background-size: contain; }
    .social-footer.social-cosplay li a img.social-twitter:hover {
      background: url("/img/iconen/twitter-social-full.svg") no-repeat;
      background-size: contain; }
  .social-footer.social-cosplay li a img.social-facebook {
    background: url("/img/iconen/facebook-social.svg") no-repeat;
    background-size: contain; }
    .social-footer.social-cosplay li a img.social-facebook:hover {
      background: url("/img/iconen/facebook-social-full.svg") no-repeat;
      background-size: contain; }

/* SLIDER COSPLAYPHOTOS */
.cosplay-show .col-9 {
  padding-left: 4%;
  padding-right: 0; }

.cosplay-show .col-3 {
  padding-right: 2.5%; }

.carousel-item {
  background-color: #2e2e2e; }
  .carousel-item img {
    height: 560px;
    width: auto;
    margin: 0 auto; }

.carousel-control-prev, .carousel-control-next {
  bottom: -50px;
  top: 590px;
  width: auto; }

.carousel-control-next {
  right: auto;
  margin-left: 55px; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 32px;
  height: 10px; }

.carousel-control-prev-icon {
  background-image: url("/img/iconen/pijltje-links-grijs.png"); }

.carousel-control-next-icon {
  background-image: url("/img/iconen/pijltje-rechts-grijs.png"); }

.cosplay-show {
  margin-bottom: 4.75rem; }

/* PROJECT DESCRIPTION */
.project-description {
  border-top: 1px solid #e5e5e5;
  padding: 2rem;
  padding-bottom: 0; }

.project-description-info .float-left {
  margin-right: 1rem; }

.project-description-info .float-left:last-child {
  margin-right: 0; }

.project-description-info {
  margin-bottom: 0.4rem; }
  .project-description-info h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-top: 5px;
    font-weight: 600; }
  .project-description-info p {
    font-size: 0.7em;
    color: #adacac;
    padding-top: 11px; }

.project-description-content {
  color: #787878;
  font-size: 0.90em; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e; }

/* NAVIGATIE */
.navbar {
  margin-bottom: 3em; }

.navbar-top {
  margin-top: 0.75em; }

a.profile-link {
  padding: 0;
  padding-bottom: 0.5em;
  padding-left: 0.5em; }
  a.profile-link .profile-picture {
    width: 45px;
    border-radius: 50%;
    margin-top: -0.4em; }

.navbar-brand {
  margin-right: 0.5em; }

.logo-kleur {
  width: 50px; }

.navbar-nav, .nav-footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.7em; }

.navbar-nav li {
  margin-top: 0.4em; }
  .navbar-nav li .nav-link {
    color: #bcbbbb !important;
    padding-left: 1.2rem !important; }
    .navbar-nav li .nav-link:hover {
      color: #aaa9a9 !important; }
.navbar-nav li.profile-link {
  margin-top: 0; }

/* hamburger */
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border: none; }

.navbar-toggler:focus {
  outline: none; }

/* FOOTER */
.footer-background {
  width: 100%;
  position: relative; }

footer {
  background-color: #302e2e;
  text-align: center; }
  footer .logo-zw {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  footer p {
    font-size: 0.7em;
    margin-bottom: 0;
    padding-bottom: 1em;
    color: #bcbbbb; }

.social-footer, .nav-footer {
  list-style: none;
  padding: 0; }
  .social-footer li, .nav-footer li {
    margin-right: 5em;
    display: inline; }
  .social-footer li:last-child, .nav-footer li:last-child {
    margin-right: 0; }

.social-footer {
  margin-top: 3em;
  margin-bottom: 3em;
  /*Facebook*/
  /*Instagram*/
  /*Pinterest*/ }
  .social-footer li a img {
    height: 30px;
    width: 30px; }
  .social-footer li a img.social-facebook {
    background: url("/img/iconen/facebook.svg") no-repeat;
    background-size: contain; }
    .social-footer li a img.social-facebook:hover {
      background: url("/img/iconen/facebook-full.svg") no-repeat;
      background-size: contain; }
  .social-footer li a img.social-instagram {
    background: url("/img/iconen/instagram.svg") no-repeat;
    background-size: contain; }
    .social-footer li a img.social-instagram:hover {
      background: url("/img/iconen/instagram-full.svg") no-repeat;
      background-size: contain; }
  .social-footer li a img.social-pinterest {
    background: url("/img/iconen/pinterest.svg") no-repeat;
    background-size: contain; }
    .social-footer li a img.social-pinterest:hover {
      background: url("/img/iconen/pinterest-full.svg") no-repeat;
      background-size: contain; }

.nav-footer {
  margin-bottom: 7em; }
  .nav-footer li {
    margin-right: 7em; }
    .nav-footer li a {
      text-decoration: none;
      color: #bcbbbb; }
      .nav-footer li a:hover {
        color: #e5e5e5; }

/* ALGEMEEN */
.padding-top-3em {
  padding-top: 3em; }

.desaturate {
  filter: grayscale(100%); }

/* MEDIA QUERIES */
/*tablet*/
@media (max-width: 768px) {
  .navbar-nav li a {
    text-align: center; }

  .navbar-collapse a.profile-link .profile-picture {
    margin-top: 0.5em; }

  .navbar-top {
    margin-top: 1.5em; }

  .logo-kleur {
    width: 60px; }

  .navbar-nav {
    font-size: 0.85em; } }
/*mobile*/

/*# sourceMappingURL=style.css.map */
