@import "partials/profile";


$font:'Open Sans', sans-serif;
$donker-secondary-color: #3e297b;
$licht-secondary-color: #8263d9;
$primary-color: #ffad01;

$heel-donker-grijs: #2e2e2e;
$medium-donker-grijs: #787878;
$medium-grijs: #8c8c8c;
$licht-grijs: #bcbbbb;
$heel-licht-grijs: #e5e5e5;

$font-small: 0.7em;
$font-medium: 0.85em;
$font-big: 1em;


/* NAVIGATIE */

.navbar-top {
  margin-top: 0.75em;
}

.profile-link a {

  padding: 0;
  padding-bottom: 0.5em;
  padding-left: 0.5em;

  .profile-picture {
    width: 45px;
    border-radius: 50%;
    margin-top: -0.3em;
  }

}


.navbar-brand {
  margin-right: 0.5em;

}

.logo-kleur {
  width: 50px;

}

.navbar-nav {

  font-family: $font;
  font-weight: 700;
  font-size: $font-small;

  li {
    margin-top: 0.4em;

    .nav-link {
      color: $licht-grijs !important;
      padding-left: 1.2rem !important;

      &:hover {
        color: #aaa9a9 !important;
      }

    }
  }

  li.profile-link {
    margin-top: 0;
  }

}


/* hamburger */
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border: none;
}

.navbar-toggler:focus {
  outline: none;
}



/* FOOTER */

.footer-background {
  width: 100%;
  position: relative;
}


footer {

    background-color: #302e2e;

   .logo-zw {
     width: 100px;
   }


}



/* ALGEMEEN */
.padding-top-1-5em {
  padding-top: 1.5em;
}



/* MEDIA QUERIES */

/*mobile*/
@media (max-width: 576px){


}

/*tablet*/
@media (max-width: 768px){
  .navbar-nav li a {
    text-align: center;

  }

  .profile-link a .profile-picture {
    margin-top: 1.2em;
  }

  .navbar-top {
    margin-top: 1.5em;
  }


  .logo-kleur {
    width: 60px;

  }

  .navbar-nav {
    font-size: $font-medium;
  }



}


//testen op einde op groot scherm
// @media (min-width: 1350px) {}
