$font:'Open Sans', sans-serif;
$donker-secondary-color: #3e297b;
$licht-secondary-color: #8263d9;
$primary-color: #ffad01;
$primary-color-light: #ffb824;

$bijna-zwart: #2e2e2e;
$heel-donker-grijs: #3f3e3e;
$medium-donker-grijs: #787878;
$medium-grijs: #8c8c8c;
$medium-licht-grijs: #adacac;
$licht-grijs: #bcbbbb;
$heel-licht-grijs: #e5e5e5;
$bijna-wit: #f6f6f6;

$font-very-small: 0.6em;
$font-small: 0.7em;
$font-medium-small: 0.75em;
$font-medium: 0.85em;
$font-medium-big: 1em;
$font-big: 1.2em;
$font-very-big: 1.5em;


@import "partials/profile";
@import "partials/show_cosplay";
@import "partials/new_cosplay";
@import "partials/progress_cosplay";
@import "partials/edit_cosplay";
@import "partials/login";
@import "partials/onderdelen";
@import "partials/tips";
@import "partials/home";



body {
  font-family: 'Open Sans', sans-serif;
  color: $bijna-zwart;
  overflow-x: hidden;

}


.button-yellow {
  position: relative;
  text-decoration: none;
  padding: 10px 15px;
  background-color: $primary-color;
  color: $bijna-wit;
  font-size: $font-medium;
  font-weight: 600;
  display: inline-block;

  &:hover {
    background-color: $primary-color-light;
    text-decoration: none;
    color: $bijna-wit;
  }

  p {
    display: inline;
    margin: 0;

  }

  p.left {
    margin-left: 40px;
  }

  p.right {
    margin-right: 40px;
  }

  .arrow {
    position: absolute;
    height: 12px;
  }

  img.left, img.right {
    top: 35%;
  }

  img.right {
    right: 15px;
  }

}


.buttons-linethrough {
  position: absolute;
  top: 49%;
  left: -75px;
  height: 2px;
  width: 85px;
  background-color: black;

}



.alert-danger {
  list-style: none;
  margin-top: 2rem;
  border: none;
  padding:0;
  background: none;

  li {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    background-color: #f8d7da;
  }

  li:last-child {
    margin-bottom: 0;
  }
}


.titel {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 0.35em;

  .small {
    font-size: 1.5em;
  }

  .medium {
    font-size: 2em;
  }

  .large {
    font-size: 2.5em;
    font-weight: 700;
  }

  .large.oversize {
    font-size: 2.25em;
  }

  .extra-large {
    font-size: 3.5em;
  }
}


.light {
  color: $bijna-wit;
}

.dark {
  color: $bijna-zwart !important;
}

.purple {
  color: $donker-secondary-color;
}

.titels-underline {
  width: 35%;
  background-color: $bijna-zwart;
}

.titels-underline.small {
  height: 2.5px;
}

.titels-underline.medium {
  height: 3.5px;
}

.titels-underline.large {
  height: 4.5px;
}

.titels-underline.light {
  background-color: $bijna-wit;
}

.titels-underline.purple {
  background-color: $donker-secondary-color;
}



/* ALGEMEEN */
.padding-top-3em {
  padding-top: 3em;
}

.margin-top-1-5rem {
  margin-top: 1.5rem;
}


.stick-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}


.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

a.link {
  text-decoration: underline;

  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}


.desaturate {
  filter: grayscale(100%);
}

.margin-bottom-7 {
  margin-bottom: 7% !important;
}

.block {
  display:block;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}




/* NAVIGATIE */

.navbar {
  margin-bottom: 3em;
  z-index: 10;
}

.navbar-top {
  margin-top: 0.75em;
}

a.profile-link  {

  padding: 0;
  padding-bottom: 0.5em;
  padding-left: 0.5em;

  .profile-picture {
    width: 45px;
    border-radius: 50%;
    margin-top: -0.4em;
  }

}


.navbar-brand {
  margin-right: 0.5em;

}

.logo-kleur {
  width: 50px;

}

.navbar-nav, .nav-footer {
  font-family: $font;
  font-weight: 700;
  font-size: $font-small;
}

.navbar-nav {

  li {
    margin-top: 0.4em;

    .nav-link {
      color: $licht-grijs !important;
      padding-left: 1.2rem !important;

      &:hover {
        color: #aaa9a9 !important;
      }

    }
  }

  li.profile-link {
    margin-top: 0;
  }

}


/* hamburger */
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border: none;
}

.navbar-toggler:focus {
  outline: none;
}



/* FOOTER */

.footer-background, .footer-background-earth {
  width: 100%;
  position: relative;
  z-index: -2;
  margin-top: -100px;
  background-color: #302e2f;
}

.footer-background-earth {
  margin-top: -225px;
}

.footer-background.up {
  margin-top: -300px;
  padding-bottom: 5%;
}


footer {
  background-color: #302e2e;
  text-align: center;

  .logo-zw {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  p {
   font-size: $font-small;
   margin-bottom:0;
   padding-bottom: 1em;
   color: $licht-grijs;
  }
}




.social-footer, .nav-footer {
 list-style: none;
 padding:0;

 li {
   margin-right: 5em;
   display: inline;
 }

 li:last-child {
   margin-right: 0;
 }
}


.social-footer {
 margin-top: 3em;
 margin-bottom: 3em;


 li a img {
   height: 30px;
   width: 30px;
 }


 /*Facebook*/
 li a img.social-facebook {
   background:url('/img/iconen/facebook.svg') no-repeat;
   background-size: contain;

   &:hover {
     background:url('/img/iconen/facebook-full.svg') no-repeat;
     background-size: contain;
   }
 }


 /*Instagram*/
 li a img.social-instagram {
   background:url('/img/iconen/instagram.svg') no-repeat;
   background-size: contain;

   &:hover {
     background:url('/img/iconen/instagram-full.svg') no-repeat;
     background-size: contain;
   }
 }


 /*Pinterest*/
 li a img.social-pinterest {
   background:url('/img/iconen/pinterest.svg') no-repeat;
   background-size: contain;

   &:hover {
     background:url('/img/iconen/pinterest-full.svg') no-repeat;
     background-size: contain;
   }
 }

}

.nav-footer {
 margin-bottom: 7em;

 li {

   margin-right: 7em;


   a {
     text-decoration: none;
     color: $licht-grijs;

     &:hover {
       color: $heel-licht-grijs;
     }

   }
}


}













/* MEDIA QUERIES */

//testen op einde op groot scherm
// @media (min-width: 1350px) {}


@media(max-width: 1199px) {
  .footer-background.up {
    padding-bottom: 10%;
  }
}

@media(max-width: 992px) {
  .footer-background.up {
    padding-bottom: 15%;
  }

  .footer-background.down {
    margin-top: -50px;
  }
}


@media(max-width: 945px) {
  .footer-background.up {
    padding-bottom: 20%;
  }
}



/*tablet*/
@media (max-width: 768px){
  .navbar-nav li a {
    text-align: center;

  }

  .navbar-collapse a.profile-link .profile-picture {
    margin-top: 0.5em;
  }


  .navbar-top {
    margin-top: 1.5em;
  }


  .logo-kleur {
    width: 60px;

  }

  .navbar-nav {
    font-size: $font-medium;
  }

  .footer-background.up {
    padding-bottom: 30%;
  }

  .footer-background-earth {
    margin-top: -150px;
  }

}



@media(max-width: 700px) {
  .footer-background.up {
    padding-bottom: 40%;
  }
}

@media(max-width: 575px) {
  .footer-background.up {
    margin-top: -250px;
  }
}

@media(max-width: 520px) {
  .footer-background.up {
    margin-top: -200px;
  }

  .nav-footer li {
    margin-right: 5em;
  }

}


@media(max-width: 440px) {

  .nav-footer li {
    margin-right: 4em;
  }

  .footer-background-earth {
    margin-top: -125px;
  }

}
